<div>

  <div class="stb-stages">
    <div ng-cloak class="stb-stage {{ i.name | slug }}" id="stage_{{$index}}" style="width:{{(i.num/total)*100}}%" ng-repeat="i in stages">
      <div>
      <span class="short-label" data-toggle="tooltip" data-placement="bottom" title="{{i.long_name}}" ng-bind-html="i.short_name"></span>
      <span class="long-label" ng-bind-html="i.long_name + (i.urgence ? ' (urgence)' : '')"></span>
      <span ng-show="i.urgence" class="stb-link stb-special glyphicon glyphicon-flash" data-toggle="tooltip" data-placement="bottom" title="Procédure accélérée"></span>
      </div>
    </div>
  </div>

  <div class="stb-insts">
    <div ng-cloak class="stb-inst {{ i.name | slug }}" style="width:{{(i.num/total)*100}}%" ng-repeat="i in inst">
      <span class="short-label" data-toggle="tooltip" data-placement="bottom" title="{{i.long_name}}">{{i.short_name}}</span>
      <span class="long-label">{{i.long_name}}</span>
    </div>
  </div>

  <div class="stb-steps">
    <div ng-cloak class="stb-step stb-{{i.directory.substr(0, i.directory.search('_'))}}" ng-class="{'current': etape === i.directory}" style="width:{{(1/total)*100}}%" ng-repeat="i in steps">

      <div>
        <span>
          <span class="short-label" data-toggle="tooltip" data-placement="bottom" title="{{ i.long_name }} <br/> {{ i.enddate | formatDate }}">{{i.short_name}}</span>
          <span class="long-label" data-toggle="tooltip" data-placement="bottom" title="{{ i.enddate | formatDate }}">{{i.long_name}}</span>
          <a ng-hide="!i.source_url" class="stb-linkstep glyphicon glyphicon-link" data-toggle="tooltip" data-placement="bottom" title="Voir la source" href="{{i.source_url}}" target="_blank"></a>
        </span>
      </div>

      <div class="stb-links">
        <a
          class="stb-link stb-amds"
          ng-show="i.nb_amendements && (etape!=i.directory ||(etape==i.directory && mod=='debats'))"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Explorer {{i.nb_amendements + ' amendement' + (i.nb_amendements > 1 ? 's' : '')}}" livetitle="{{ i.enddate === '' ? ' (Mise à jour en temps réel)' : '' }}"
          href="amendements.html?loi={{loi}}&etape={{i.directory}}">
          <span class="glyphicon glyphicon-folder-open"></span>
          <!--<span ng-hide="i.enddate" class="glyphicon stb-live">--></span>
        </a>
        <span ng-hide="i.nb_amendements && (etape!=i.directory ||(etape==i.directory && mod=='debats'))" class="stb-link low-vis" ng-class="{'stb-curr-st':etape==i.directory && mod=='amendements'}">
          <span class="glyphicon glyphicon-folder-open"></span>
          <!-- <span ng-hide="i.enddate || !i.nb_amendements" class="glyphicon stb-live {{ reloading ? 'reloading' : '' }}" data-toggle="tooltip" data-placement="bottom" title="Mise à jour en temps réel &ndash; cliquer pour forcer la mise à jour" ng-click="updateAmdts()"></span> -->
        </span>

        <a
          class="stb-link stb-ints"
          ng-show="i.has_interventions && (etape!=i.directory ||(etape==i.directory && mod=='amendements'))"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Explorer les débats"
          href="debats.html?loi={{loi}}&etape={{i.directory}}">
          <span class="glyphicon glyphicon-comment"></span>
        </a>
        <span ng-hide="i.has_interventions && (etape!=i.directory ||(etape==i.directory && mod=='amendements'))" class="stb-link low-vis" ng-class="{'stb-curr-st':etape==i.directory && mod=='debats'}">
          <span class="glyphicon glyphicon-comment"></span>
        </span>
      </div>

    </div>
  </div>
</div>
