<div id="home">
  <div id="headline">
    <h1>Les parlementaires font-ils la loi&nbsp;?</h1>
    <h4>Explorez l'évolution de la loi au fil de la procédure parlementaire avec La Fabrique de la Loi&nbsp;!</h4>

    <a class="big-button" href="lois.html">
      Explorer {{ total }} textes de lois *
    </a>
    <p>
      * parmi {{ maximum }} promulgués depuis 2010<br/>faute d'OpenData officielle
    </p>
  </div>

  <div id="homelinks">
    <div ng-cloak class="laws" ng-repeat="col in colonnes">
      <h5>{{ ::col.titre }}</h5>
      <ul>
        <li ng-repeat="texte in col.textes">
          <a href="articles.html?loi={{ ::texte.loi }}">
            <div class="title">{{ ::texte.titre }}</div>
            <div class="status">{{ ::texte.status }}</div>
          </a>
        </li>
      </ul>
      <p><a href="{{ ::col.url }}">{{ ::col.lien }}</a></p>
    </div>
  </div>

  <div class="disclaimer">
    <div class="text">
      <h3>Consultez la chronologie de la navette parlementaire</h3>
      <div class="content">
        L'ensemble des textes est comparable dans le temps ou dans leur organisation. Des tris et des filtres sont proposés sur le nombre d'amendements, les thèmes ou les dates d'études.
      </div>
    </div>

    <div>
      <img src="img/screenshot/navettes.jpg">
    </div>
  </div>

  <div class="disclaimer">
    <div class="text">
      <h3>Plongez dans les modifications votées par les parlementaires</h3>
      <div class="content">
        À chaque étape de la procédure, chaque article constituant les textes est présenté avec ses modifications apportées par le parlement. Les ajouts et suppressions réalisés sur le texte sont consultables dans leurs détails tout comme le texte complet.
      </div>
    </div>

    <div>
      <img src="img/screenshot/articles.jpg">
    </div>
  </div>

  <div class="disclaimer">
    <div class="text">
      <h3>Comparez les amendements</h3>
      <div class="content">
        Les amendements déposés à chaque étape sont consultables pour pouvoir identifier rapidement en fonction des groupes politiques de leurs auteurs ceux qui ont été adoptés ou réfusés et ceux qui n'ont pas été discutés.
      </div>
    </div>

    <div>
      <img src="img/screenshot/amendements.jpg">
    </div>
  </div>

  <div class="disclaimer">
    <div class="text">
      <h3>Explorez les interventions</h3>
      <div class="content">
        Le flot d'interventions par groupe parlementaire est affiché à chaque étape de la discussion. Des liens vers <a href="http://nosdeputes.fr/">NosDéputés.fr</a> et <a href="http://nossenateurs.fr/">NosSénateurs.fr</a> permettent de lire les débats associés à chaque étape de la discussion.
      </div>
    </div>

    <div>
      <img src="img/screenshot/debats.jpg">
    </div>
  </div>

</div>
