extends layout

block subheader


  div(ng-view)

  script(src='js/lib/jquery/jquery-1.10.2.min.js')
  script(src='js/lib/bootstrap/bootstrap.min.js')
  script(src='js/lib/d3/d3.v3.min.js')
  script(src='js/lib/d3-bootstrap/d3-bootstrap-plugins.min.js')
  script(src='js/lib/google-diff-match-patch-r106.js')
  script(src='js/lib/angular-1.1.5.min.js')
  script(src='js/lib/spin/spin.min.js')
  script(src='js/lib/jquery/jquery-ui-1.10.4.custom.min.js')
  link(rel='stylesheet', href='css/jquery-ui-1.10.4.custom.min.css')
  link(href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300', rel='stylesheet', type='text/css')

  script(src='js/lib/thelawfactory/mod0.js')
  script(src='js/lib/thelawfactory/mod1.js')
  script(src='js/lib/thelawfactory/mod2_new.js')
  script(src='js/lib/thelawfactory/mod2b.js')

  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
