!!!
html(ng-app="theLawFactory")
  head
    meta(charset='utf8')
    base(href=rootUrl)
    title The Law Factory

    // CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')


    // google fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700')
    
  body
    
    nav.navbar.navbar-custom(role="navigation")
      
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
          span.sr-only 
            Toggle navigation
          span(icon-bar)
          span(icon-bar)
          span(icon-bar)
        
        a.navbar-brand(href="#") 
          img(src="./img/logo.png")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") À PROPOS
          li
            a(href="#") CONTACT
          li#search-btn
            span CHERCHER UNE LOI
              span.glyphicon.glyphicon-search.glass
              //button#search-btn.btn( type="button") Chercher une loi


    block subheader
