/* app css stylesheet */

body{
    font-family:"Oxygen", sans-serif !important;
}

h1,h2,h3,h4 {
    font-family:"Oxygen", sans-serif !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-brand {
	padding: 0 !important;
}

.navbar-custom{
	background-color: #fff;
	border-color: #e7e7e7;
}

.navbar-header{
	width:95%;
} 

.navbar-right{
	margin-top:7px !important;
}

.navbar-right a{
	color:#808285;
}

.navbar-right a:hover{
	color:#716259;
}

.navbar{
	margin: 0 !important
}
.subheader {
	display:block;
	max-width:40%;
	margin:0 auto;	
}

.article {
box-shadow: inset 10px 10px 10px #000;
-webkit-box-shadow: inset 10px 10px 10px #000;
-moz-box-shadow: inset 10px 10px 10px #000;
-o-box-shadow: inset 10px 10px 10px #000;
}

.subheader li{
	background-color:#dad1cb;
	font-weight:bold;
	font-size: 11px;
}

.subheader li a{
	color:#716259;
}

body{
	background-color:#dad1cb !important;
}
.selected{
	background-color:#716259;
}
.selected a{
	color:#dad1cb !important;
}
.title{
	height:75px;
	background-color:#716259;
	overflow:hidden;
}

.title h4 {
	color:#fff;
	line-height:75px;
	font-size:14px;
	margin: 0;
	font-weight:600;
	float: left;
}

.title{
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.nav-tabs.nav-justified>li>a {
	border:none !important;
}
.separator{
	height:60px;
	background-color:#fff;
}
.labels{
	background-color:transparent;
	padding:0 !important;
	height:100%;
	width:8.33%;
	float:left;
}
.main{
	height:100%;
	width:65%;
	float:left;
}
.stages{
	width:100%;
	height:70px;
	background-color:#F9F7F8;
	color:#AFA19A;
	text-align:center;
}
.stage{
	float:left;
	padding:0px 5px;
	font-size: 12px;
	text-transform:capitalize;
	width:100%;
	height:100%;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display:flex;
	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	
	
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

@-moz-document url-prefix() { 
  .stage {
     padding:20px 10px 0 10px;
  }
}


#viz{
	background-color:#fff;
	/*border-right:1px solid #716259;*/
	padding:0 !important;
}
.text{
	background-color:#fff;
	border-right:1px solid #DAD1CB;
	padding:0 !important;
	border-bottom:1px solid #DAD1CB;
	border-left: 1px solid #DAD1CB;
	width:18.33%;
	float:left;
	position:relative;
	height:100%;
}

.text-container{
	background-color:#fff;
	clear:both;
	height:90%;
	overflow:auto;
	padding-top:10px;
	
}
.art-txt ul {
    list-style-type: decimal-leading-zero;
    margin: 0px;
    padding-left: 30px;
    font-size: 0.7em;
}
.art-txt ul li {
    margin-bottom: 8px;
}
.art-txt ul li span {
    font-size: 1.5em;
}
.viz-container{
	padding: 0 !important;
}
.mod1 .viz-container{
	height:800px;
}
.mod2 .viz-container, .mod0 .viz-container{
    height: 100%;
}
.viz-container h4{
	text-align:center;
	padding:20px 4px;
	width:60%;
	float:right;
	display:inline-block;
	background-color:#D80053;
	color:#fff;
	font-weight: normal;
	font-size:13px;
}
.text h4{
	padding:20px 4px;
	width:100%;
	background-color:#D80053;
	color:#fff;
	font-weight: normal;
	font-size:16px;
	margin-top:0;
}
.labels div{
	position: relative;
	clear: both;
	display: inline-block;
	width: auto;
	text-align: left;
	float: right;
	margin: 0;
	
}
.labels p{
	margin:0;
	 
	padding: 0 5px;
	font-style: italic;
	background-color: #F9F7F8;
}
.text p{
	display:block;
	width:90%;
	margin:0 auto;
	color:#333;
	margin-bottom:15px;
}
.stick{
	position:fixed;
    top:0px;
    right:0;
}

del {
	background:#FFE6E6;
}

ins {
	background:#E6FFE6;
}
.popup-mod2 p{
  margin:0;
  padding:0;
  display: inline;
  font-size:12px;
}
.art-list{
	margin-top:-4px !important;
}
.padded{
	padding: 15px
}

.law-title{
	color: #716259;
	font-size: 16px;
	margin-top: 20px;
    float: left;
}
.separator .links{
    float: right;
	margin-top: 10px;
    margin-right: 8px;
    font-size: 12px;
    text-align: center;
}
.scrolling{
	width: 73.33%;
	float: left;
	height:590px;
	
}

.labels-sc{
	background-color:transparent;
	padding:0 !important;
	width:100%;
	height:100%;
	float:left;
}
.main-sc{
	width:100%;
	max-height:80%;
	float:left;
}


.labels-sc p{
	margin:0;
	padding: 0 5px;
	font-style: italic;
	background-color: #F9F7F8;
}
.legend {
    background-color: white;
    padding: 15px;
    margin-top: 1px;
    float: right;
	width:88.6%;
    position: relative;
    padding-bottom: 0.9%;
    padding-top: 0.8%;
    margin-bottom: 30px;
}

.leg-item{
	float:left;
	width:200px;
	margin-top:5px;
}

.leg-value{
    width:18px;
	height:18px;
	border-radius:2px;
	float:left;
}
.colors{
	margin-top:2px;
}
.leg-key{
	float: left;
	margin-left:4px;
	font-size: 0.9em;
	width:160px;
}

.end-tip{
	height:20px;
	background-color:#F9F7F8;
	position:absolute;
	bottom:0px;
	width:100%;
	background-image:url('../img/down.png');
	background-repeat:no-repeat;
	background-position:	center center;
	display:none;
}
.menu-hide{
	background-color:#DAD1CB;
	padding:15px;
}

.dd-btn {
	float:right;
}

.dd-btn .caret{
	border-top: 6px solid #FFF;
}

.dd-btn>.btn+.dropdown-toggle {
	background: #D80053;
	border-radius: 0;
	margin-left:3px !important;	
}

.dd-btn>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	color: #716259;
    background: #FFFFFB;
    border-radius: 0;
}

.menu-btn {
	float:right;
	padding:4px;
	margin-top:25px;
	background:#DAD1CB;
	height:100%;
}
ul.ui-autocomplete { 
	list-style-type: none; 
	color:#fff;
	z-index:2001;
	position:fixed;
	width:98% !important;
	overflow:auto;
	
} 

.lawlist{
	float:left;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#f1f1f1;
	overflow:auto;
	z-index:2000;
}

.lawlist input {
	border:none;
	background:transparent;
	width:80%;
	margin-top:4%;
	margin-left:2%;
	font-size:4em;
	color:#333333;
	border-bottom: 1px solid #333333 !important;
	outline:none;
}
#search-btn, .btn{
	float:left;
	background:#D80053;
	color:#fff;
	border-radius: 0 !important;
}
.ui-menu .ui-menu-item {
	padding:8px 0px;
	color:#333;
}
.ui-autocomplete li a:hover
{
    color:white;
    background:#D80053;
    border:none;
    outline:none;
}

.img-cont{
	width:50px;
	height:50px;
	float:left;
}
.smallImg{
	width:100%;
	height:auto;
}
.mod2 .text, .mod0 .text  {
	width:18.33%;
    height: 100%;
}
.mod2 .scrolling, .mod0 .scrolling  {
	width: 73.33%;
}
.mod2 .labels-sc, .mod0 .labels-sc {
	height:auto !important;
}
.mod2 .main-sc, .mod0 .main-sc{
	width: 100%;
	/*height:85%;*/
	overflow-y:auto;
	overflow-x:hidden;
}

.mod2 #viz,.mod0 #gantt {
	width:88.5%;
	float:right;
}
.mod2 .art-list{
	width: 10%;
    margin-left: 1.34%;
    float: left;
}

.mod2 .art-list p {
	background-color:#F9F7F8;
	padding-right: 10px;
    text-align: right;
}

.mod2 #text-title,.mod0 #text-title{
	width:100% !important;
	margin:0 !important;
	margin-bottom:1%;
}

.mod2 .viz-container h4,.mod0 .viz-container h4{
	text-align: center;
    padding: 20px 4px;
	width: 6.8%;
    float: left;
    margin-left: 4.58%;
    margin-bottom:6px;
    display: inline-block;
    background-color: #D80053;
    color: #fff;
    font-weight: normal;
    font-size: 13px;
}

.mod2 .stages,.mod0 #bars{
	display: inline-block;
    width: 88.6%;
    text-align: left;
    float: left;
    margin: 0;
    clear:none;
    position:static;
}

.mod0 #bars{
	height:100%;
	background-color:white;
	padding-bottom:10px;
}

.mod0 .bar-step:first-child {
	margin-left:1%;
}

.mod0 .main-sc {
	overflow-y: hidden !important;
	height:80%;
}

#gantt {
	overflow-x:auto;
	overflow-y:auto;
	height:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mod2 .labels-sc div,.mod0 .labels-sc div{
	clear: none !important;
	text-align:	center;
} 

.mod2 .btn-group{
	margin-left:10px;
}

.mod2 .leg-item{
	cursor:pointer;
}
.valid-step{
	background-color:transparent;
	cursor: pointer;
	border-top:3px solid #D80053;
}

.stage-container {
	display:flex;
	align-items:center;
	height:100%;
}
.step-curr {
	/*background-color:rgb(218, 209, 203);*/
	background:#fff;
	color:rgb(113, 98, 89);
}
.cls{
	position: absolute;
	right:4%;
	top:4%;
	cursor:pointer;
}
h4 .glyphicon {
	font-size:0.8em;
}
h4 a{
	/*color: #716259;*/
}
.stage a{
	color: rgb(175, 161, 154);
	font-size:0.8em;	
}
.btn-group .btn{
	margin-left:2px !important;
}
.int-viz{
	float:right !important;
}
.text-container img{
	display:block;
	float:left;
	margin-right:5px;
}
.text-container .orat-info{
	float:left;
}
.orat-info p{
	margin:0;
	width:100%;
}
.orateur{
	display:block;
	float:left;
	width:99%;
	clear:both;
	margin-top:15px;
	margin-left:1%;
}

.orat-info b{
	margin-bottom:3px;
}
.text-container a{	
	line-height: 0.9em;
}
.orat-disc{
	font-size:0.9em;
}

.text-container{
	padding-bottom:20px;
}
.orat-fonction{
	font-size: 0.8em;
	line-height: 0.9em;
}
p.orat-count{
	display:block;
	margin-top:8px;
	margin-bottom:0px;
	padding-bottom:0px;
}
p.orat-name{
	    text-transform:capitalize;
}

.mod0 #gantt {
	background:white;
}


.bar-step{
	float:left;
	margin-right:1%;
	text-align:center;
	margin-top:10px;
}
.bar-value {
	background-color:rgba(216, 209, 201, 0.6);
	position:relative;
	margin:0 auto;
	/*border:1px solid #ddd;*/
}
.bar-key {
	position:relative;
}
.text-container:empty {
	padding:0;
}


#commands{
	float:left;
	margin-left:1%;
	width:10%;
}
.commands label{
	width:100%;
	font-size:0.9em;
}

#commands .btn-group{
    margin-bottom:10px;
}

.g-law, .law-name{
	cursor:pointer;
}
.gotomod1{
	width:100%;
	text-align: center;
	margin-top:30px;
}

.gotomod1 a {
	display:inline;
	float:none;
}
text {
    font-family: "Oxygen", sans-serif;
}
#mod0-slider {
    clear:both;
    margin-right:6%;
    width:80%;
    float:right;
}

.ui-slider-handle{
    width:10px;
    height:15px;
    background-color:#D80053 !important;
    position:relative;
    display: block;
    outline: none !important;
    border:none !important;
    outline-color: transparent;
    user-select: none;
    border-radius:0 !important;
}
.ui-state-focus{
    border:none !important;
}
.ctrl-label{
    clear:both;
    width:90%;
    float:right;
    text-align: center;
    color:#716259;
}
.ctrl-sort {
    display:none;
}

.step-lbl text{
    fill:white;
    font-size: 10px;
}