/* app css stylesheet */

body{
    font-family:"Oxygen", sans-serif !important;
}

h1,h2,h3,h4 {
    font-family:"Oxygen", sans-serif !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar-brand {
	padding: 0 !important;
}

.navbar-custom{
	background-color: #fff;
	border-color: #e7e7e7;
}

.navbar-header{
	width:95%;
} 

.navbar-right{
	margin-top:7px !important;
}

.navbar-right a{
	color:#808285;
}

.navbar-right a:hover{
	color:#716259;
}

.navbar{
	margin: 0 !important
}
.subheader {
	display:block;
	max-width:40%;
	margin:0 auto;	
}

.article {
box-shadow: inset 10px 10px 10px #000;
-webkit-box-shadow: inset 10px 10px 10px #000;
-moz-box-shadow: inset 10px 10px 10px #000;
-o-box-shadow: inset 10px 10px 10px #000;
}

.subheader li{
	background-color:#dad1cb;
	font-weight:bold;
	font-size: 11px;
}

.subheader li a{
	color:#716259;
}

body{
	background-color:#dad1cb !important;
}
.selected{
	background-color:#716259;
}
.selected a{
	color:#dad1cb !important;
}
.title{
	height:75px;
	background-color:#716259;
	overflow:hidden;
    margin-bottom:20px;
}

.title h4 {
	color:#fff;
	line-height:75px;
	font-size:14px;
	margin: 0;
	font-weight:600;
	float: left;
}

.title{
	padding-left: 25px !important;
	padding-right: 25px !important;
}
.nav-tabs.nav-justified>li>a {
	border:none !important;
}
.separator{
	height:60px;
	background-color:#fff;
}
.labels{
	background-color:transparent;
	padding:0 !important;
	height:100%;
	width:8.33%;
	float:left;
    margin-top: 147px;
}
.main{
	height:100%;
	width:65%;
	float:left;
}
.stages{
	width:100%;
	color:#AFA19A;
	text-align:center;
}
.stage{
	float:left;
	padding:0px 5px;
	font-size: 12px;
	text-transform:capitalize;
	width:100%;
	height:100%;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display:flex;
	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

@-moz-document url-prefix() { 
  .stage {
     padding:20px 10px 0 10px;
  }
}


#viz{
	background-color:#fff;
	/*border-right:1px solid #716259;*/
	padding:0 !important;
}
.text{
	background-color:#fff;
	border-right:1px solid #DAD1CB;
	padding:0 !important;
	border-bottom:1px solid #DAD1CB;
	border-left: 1px solid #DAD1CB;
	width:18.33%;
	float:left;
	position:relative;
	/*height:100%;*/
}

.text-container{
	background-color:#fff;
	clear:both;
	height:90%;
	overflow:auto;
	padding-top:10px;
	
}

.art-txt{
    padding-right: 30px;
}

.art-txt ul {
    list-style-type: decimal-leading-zero;
    margin: 0px;
    padding-left: 30px;
    font-size: 0.7em;
}
.art-txt ul li {
    margin-bottom: 8px;
}
.art-txt ul li span, .art-txt del, .art-txt ins {
    font-size: 1.5em;
}
.viz-container{
	padding: 0 !important;
}

.mod1 #viz {
    height:500px;
    overflow-y:auto;
}
.mod1 .text {
    max-height:620px;
    overflow-y:auto;
}

.mod2 .viz-container, .mod0 .viz-container{
    height: 100%;
}
.viz-container h4{
	text-align:center;
	padding:20px 4px;
	width:60%;
	float:right;
	display:inline-block;
	background-color:#716259;
	color:#fff;
	font-weight: normal;
	font-size:13px;
}
.text h4{
	padding:20px 4px;
	width:100%;
	background-color:#716259;
	color:#fff;
	font-weight: normal;
	font-size:16px;
	margin-top:0;
    margin-bottom: 0 !important;
}
.labels div{
	position: relative;
	clear: both;
	display: inline-block;
	width: auto;
	text-align: left;
	float: right;
	margin: 0;
	
}
.labels p{
	margin:0;
	 
	padding: 0 5px;
	font-style: italic;
	background-color: #F9F7F8;
}
.text p{
	display:block;
	width:90%;
	margin:0 auto;
	color:#333;
	margin-bottom:15px;
}
.stick{
	position:fixed;
    top:0px;
    right:0;
}
.popover{
    min-width:200px;
}
.popover-title{
    text-align:center;
    font-weight:bold;
}
del {
	background:#FFE6E6;
}
ins {
	background:#E6FFE6;
}
.art-list{
	margin-top:-4px !important;
    padding-top:30px;
}
.padded{
	padding: 20px 0;
}

.law-title{
	color: #716259;
	font-size: 16px;
	margin-top: 20px;
	padding-left: 15px;
    float: left;
    width: 90%;
}
.separator .links{
    float: right;
	margin-top: 10px;
    margin-right: 8px;
    font-size: 12px;
    text-align: center;
}
.scrolling{
	width: 73.33%;
	float: left;
	height:590px;
}
.mod0 .scrolling{
    height:750px;
}

.labels-sc{
	padding:0 !important;
	width:100%;
	height:100%;
	float:left;
}
.main-sc{
	width:100%;
	max-height:80%;
	float:left;
}

.labels-sc p{
	margin:0;
	padding: 0 5px;
	font-style: italic;
	background-color: #F9F7F8;
}
.legend {
    background-color: white;
    padding: 15px;
    margin-top: 1px;
    float: right;
	width:88.6%;
    position: relative;
    padding-bottom: 0.9%;
    padding-top: 0.8%;
    margin-bottom: 30px;
}

.leg-item{
	float:left;
	width:200px;
	margin-top:5px;
}

.leg-value{
    width:18px;
	height:18px;
	border-radius:2px;
	float:left;
}
.colors{
	margin-top:2px;
}
.leg-key{
	float: left;
	margin-left:4px;
	font-size: 0.9em;
	width:160px;
}

.end-tip{
	height:20px;
	background-color:#F9F7F8;
	position:absolute;
	bottom:0px;
	width:100%;
	background-image:url('../img/down.png');
	background-repeat:no-repeat;
	background-position:	center center;
	display:none;
}
.menu-hide{
	background-color:#DAD1CB;
	padding:15px;
}

.dd-btn {
	float:right;
}

.dd-btn .caret{
	border-top: 6px solid #FFF;
}

.dd-btn>.btn+.dropdown-toggle {
	background: #716259;
	border-radius: 0;
	margin-left:3px !important;	
}

.dd-btn>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	color: #716259;
    background: #FFFFFB;
    border-radius: 0;
}

.menu-btn {
	float:right;
	padding:4px;
	margin-top:25px;
	background:#DAD1CB;
	height:100%;
}
ul.ui-autocomplete { 
	list-style-type: none; 
	color:#fff;
	z-index:2001;
	position:fixed;
	width:73% !important;
	overflow:auto;
} 

.lawlist{
    float:right;
	width:75%;
	height:100%;
    position: fixed;
    top: 0;
    right: 0;
	background:#f1f1f1;
	overflow:auto;
	z-index:2000;
    display:none;
    /* crossplatform shadow */
    -moz-box-shadow: -3px 1px 2px #ccc;
    -webkit-box-shadow: -3px 1px 2px #ccc;
    box-shadow: -3px 1px 2px #ccc; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 0, Color = '#cccccc');
}

.lawlist input {
	border:none;
	background:transparent;
	width:80%;
	margin-top:4%;
	margin-left:2%;
	font-size:4em;
	color:#333333;
	border-bottom: 1px solid #333333 !important;
	outline:none;
}
#search-btn{
	border-radius: 0 !important;
}
.ui-menu .ui-menu-item {
	padding:8px 0px;
	color:#333;
}
/*.ui-autocomplete li a:hover,.ui-autocomplete li a:focus,a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active
{
    color:white;
    background:#D80053;
    border:none;
    outline:none;
}*/

.img-cont{
	width:50px;
	height:50px;
	float:left;
}
.smallImg{
	width:100%;
	height:auto;
}
.mod2 .text, .mod0 .text  {
	width:18.33%;
    height: 100%;
}
.mod2 .labels-sc, .mod0 .labels-sc {
	height:auto !important;
}
.mod2 .main-sc, .mod0 .main-sc{
	width: 100%;
	height:85%;
}
.mod2 #viz {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

.mod2 #viz,.mod0 #gantt {
	width:88.64%;
	float:right;
}
.mod2 .art-list{
	width: 11.36%;
    float: left;
}

.mod2 .art-list p {
	background-color:#F9F7F8;
	padding-right: 10px;
    text-align: right;
}

.mod2 #text-title,.mod0 #text-title{
	width:100% !important;
	margin:0 !important;
	margin-bottom:1%;
}

.mod2 .viz-container h4,.mod0 .viz-container h4{
	text-align: center;
    padding: 20px 4px;
	width: 6.8%;
    float: left;
    margin-left: 4.56%;
    margin-bottom:6px;
    display: inline-block;
    background-color: #716259;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}

.mod2 .stages,.mod0 #bars{
	display: inline-block;
    text-align: left;
    float: left;
    margin: 0;
    clear:none;
    position:static;
}
.shift-steps{
    padding-left:11.36% !important;
}

.mod0 #bars{
	height:100%;
	background-color:white;
	padding-bottom:10px;
    width: 88.64%;
}

.mod0 .bar-step:first-child {
	margin-left:1%;
}

.mod0 .main-sc {
	overflow-y: hidden !important;
	height:80%;
}

#gantt {
	overflow-x:auto;
	overflow-y:auto;
	height:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mod0 .labels-sc div{
	clear: none !important;
	text-align:	center;
} 

.mod2 .leg-item{
	cursor:pointer;
}
.valid-step{
	background-color:transparent;
	cursor: pointer;
	border-top:3px solid #716259;
}

.stage-container {
	display:flex;
	align-items:center;
	height:100%;
}
.step-curr {
	/*background-color:rgb(218, 209, 203);*/
	background:#fff;
	color:rgb(113, 98, 89);
}
.cls{
	position: absolute;
	right:4%;
	top:4%;
	cursor:pointer;
}
h4 .glyphicon {
	font-size:0.8em;
}
h4 a{
	/*color: #716259;*/
}
.stage a{
	color: rgb(175, 161, 154);
	font-size:0.8em;	
}
.int-viz{
	float:right !important;
}
.text-container img{
	display:block;
	float:left;
	margin-right:5px;
}
.text-container .orat-title  {
    font-weight: bold;
    text-align: center;
}
.text-container .orat-info{
	float:left;
    width: 90%;
}
.text-container .orat-info p{
    margin:0;
}
.text-container .orat-count{
    width: 9%;
	float: left;
    text-align: right;
    padding-right: 8px;
    padding-top: 2px;
    font-size: 0.75em;
}
.orateur{
	display:block;
	float:left;
	width:100%;
	margin-top:15px;
	padding-left:6px;
}

.orat-info b{
	margin-bottom:3px;
}
.text-container a{	
	line-height: 0.9em;
}
.orat-disc{
	font-size:0.9em;
}

.text-container{
	padding-bottom:20px;
}
.orat-fonction{
	font-size: 0.8em;
	line-height: 0.9em;
}

.mod0 #gantt {
	background:white;
}


.bar-step{
	float:left;
	margin-right:1%;
	text-align:center;
	margin-top:10px;
}
.bar-value {
	background-color:rgba(216, 209, 201, 0.6);
	position:relative;
	margin:0 auto;
	/*border:1px solid #ddd;*/
}
.bar-key {
	position:relative;
}
.text-container:empty {
	padding:0;
    height:0;
}

.text:empty {
    padding:0;
    height:0 !important;
}

#commands{
    width: 10%;
    margin-top: 35px;
	float:left;
	margin-left:1%;
}
.commands label{
	width:100%;
	font-size:0.9em;
}

.g-law, .law-name{
	cursor:pointer;
}
.gotomod{
	width:100%;
	text-align: center;
	margin-top:30px;
    margin-bottom: 30px;
}
.gotomod a.btn-info {
	display:inline;
	float:none;
    font-weight: bold;
}
text {
    font-family: "Oxygen", sans-serif;
}

.text-container .glyphicon-folder-open, .search .glyphicon-folder-open, .text-container .glyphicon-comment, .search .glyphicon-comment {
    color: #D80053 !important;
}
.mod0 .text-container p, .pop0 p {
    text-align: center;
}
.badge {
    color: #0505ff;
    background-color: #d0e0ff;
    opacity: 0.85;
}
span.badge {
    padding: 5px 8px 8px 8px;
}
#mod0-slider {
    clear:both;
    margin-right:6%;
    width:80%;
    float:right;
}

.ui-slider-handle{
    width:10px;
    height:15px;
    background-color:#716259 !important;
    position:relative;
    display: block;
    outline: none !important;
    border:none !important;
    outline-color: transparent;
    user-select: none;
    border-radius:0 !important;
}
.ui-state-focus{
    border:none !important;
}
.ctrl-label{
    clear:both;
    width:90%;
    float:right;
    text-align: center;
    color:#716259;
}
.ctrl-sort {
    display:none;
}

.step-lbl text{
    fill:white;
    font-size: 9px;
    text-anchor: middle;
    font-family: arial, sans-serif;

}

.navbar-nav>li>span {

    padding: 15px 10px 15px 10px;
    line-height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    color:#808285;
}

.nav>li>span:hover, .nav>li>span:focus {
    text-decoration: none;
    background-color: #eee;
}
.navbar-right span:hover {
    color: #716259;
}

.cmd-btn{
    float:right;
    background-color:#716259 !important;
    color:white;
    margin-bottom:10px;
}
.glass{
    font-size: 0.9em;
    padding-left:6px;
    font-weight: bold;
}

.ui-menu-item{
    display: block;
    margin-bottom:10px !important;
    border-bottom:1px solid #ccc;
    overflow:hidden;
    font-size:1em;
}
 .src-fcs{
    background-color:#716259 !important;
    color:white !important;
}

.src-ico{
    float:left;
    padding-left:0.4em;
    padding-right:0.4em;
    margin-right:0.4em;
    font-size:0.8em;
    color:#555;
}

 .src-fcs .src-ico, .src-fcs .src-ico .glyphicon, .src-fcs a{
    color:white !important;
}

.src-ico div{
    float:left;
    margin-right:1em;
}
.src-ico .glyphicon{
    color:#999;
    padding-right:0.02em;
    padding-left:0.4em;
}
.src-txt{
    display:block;
    clear:both;
}


/*STEPSBAR */

#stepsbar{
    width:100%;
    border:1px solid #fff;
	background-color:#F9F7F8;
    overflow:hidden;
    text-transform: capitalize;
}
.stb-stages, .stb-insts, .stb-steps{
    width:100%;
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
    overflow:hidden;
}

.stb-stage:nth-child(even), .stb-step:nth-child(even) {
    background-color:rgba(1,1,1,0.03);
}

.stb-stage, .stb-inst, .stb-step{
    float:left;
    text-align: center;
    border-left:2px solid white;
    padding:5px 0;
}

#stepsbar a {
    color:#AFA19A;
    text-decoration: none;
}

.low-vis{
    opacity: 0.1 !important;
}
.stb-link{
    display:block;
    width:33.3%;
    float:left;
    opacity:0.7;
}
.stb-renvoi {
    color: red;
    opacity:0.5;
    float:right;
    font-size: 0.75em;
}
.stb-links {
    margin-top:5px;
    min-height: 20px;
    overflow: hidden;
}
.stb-inst.senat {
    background-color:#e6c0ba;
    color:white;
}

.stb-inst.cmp {
    background-color:rgb(231, 221, 158);
    color:white;
}

.stb-inst.assemblee {
    background-color:#b6c5cc;
    color:white;
}
.stb-step.current{
  background-color: white;
}
.stb-curr-st {
    opacity:0.7 !important;
    color:#D80053;
}

.stb-linkstep {
    float: right;
    padding-right: 4px;
    font-size: 10px;
    opacity: 0.6;
}

/*END OF STEPSBAR */

.btn-group{
	margin-left:10px;
    margin-bottom:35px;
}
.btn-group .btn{
	margin-left:2px !important;
}
.btn-title, .btn-title:hover{
    float:right;
    display:inline-block;
    padding: 0 10px;
    cursor:pointer;
    text-decoration: none;
    background-color:#716259;
    color:white;
    line-height:75px;
}
/* bootstrap dropdown submenu add */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#preload{
    position:relative;
    width:100%;
    text-align: center;
}
.spinner {
    margin-top:10%;
}

noscript {
    margin-left:2%;
    display: block;
    text-align: center;
    margin:0 auto;
    width:90%;
}

noscript span {
    font-size:1.4em;
}

noscript h2 {
    font-size:3em;
    color: #700;
}
.amd-txt-status{
    position:relative; top: 4px;margin-top:4px;border-radius:20%; display:inline-block; overflow:hidden;min-height:18px;
}
.row {
    width: 100%;
}
.row-txt{
    cursor:pointer;
}
