/** Colors **/
/** Sizes **/
/** Fonts **/
@font-face {
  font-family: "tlf-icons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/tlf-icons.eot?7440597#iefix") format("embedded-opentype"), url("../fonts/tlf-icons.woff?7440597") format("woff"), url("../fonts/tlf-icons.ttf?7440597") format("truetype"), url("../fonts/tlf-icons.svg?7440597#tlf-icons") format("svg");
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(../fonts/Oxygen-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(../fonts/Oxygen-Bold.ttf) format('truetype');
}
/** Helper mixins **/
/************************* General style definitions *************************/
::selection,
::-moz-selection {
  background: rgba(198, 189, 183, 0.3);
}
body,
input {
  background-color: #dad1cb;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  color: #716259;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oxygen", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
a {
  color: #337ab7;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  color: #23527c;
  text-decoration: underline;
}
.button,
.big-button {
  display: inline-block;
  background-color: #716259;
  color: #fff;
  padding: 4.33333333px 8.66666667px;
  outline: none;
}
.button:hover,
.big-button:hover,
.button:active,
.big-button:active,
.button:focus,
.big-button:focus {
  color: #fff;
  text-decoration: none;
}
.button.big-button,
.big-button.big-button {
  border-radius: 2px;
  padding: 6.5px 13px;
}
.shortcuts,
.shortcuts:hover,
.shortcuts:active,
.shortcuts:focus {
  color: #716259;
  text-decoration: none;
  font-size: 1.2em;
}
.textdiff del {
  background-color: #ffe6e6;
}
.textdiff ins {
  background-color: #e6ffe6;
}
.tooltip-inner {
  background-color: #716259;
  border-radius: 0;
  border: 1px solid #716259;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #716259;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #716259;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #716259;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #716259;
}
.popover {
  min-width: 220px;
  border-radius: 0;
}
.popover h3 {
  background-color: #fff;
  color: #716259;
}
.popover .popover-title {
  text-align: center;
  font-weight: bold;
}
.dropdown {
  cursor: pointer;
}
.dropdown .disabled {
  opacity: 0.3;
  cursor: initial;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
}
.dropdown-menu > li > a {
  padding: 3px 15px 6px 15px;
  color: #716259;
}
.dropdown-menu > li > a:hover {
  background-color: #716259;
  cursor: pointer;
}
.dropdown-menu li:hover .chosen:before {
  color: white;
}
.dropdown-menu li .chosen:before {
  color: #716259;
}
.dropdown-menu li:hover :before {
  color: #716259;
}
.dropdown-menu li :before {
  content: "\e013";
  font-family: "Glyphicons Halflings";
  margin-right: 10px;
  display: inline-block;
  color: white;
}
#menu-zoom {
  display: flex;
}
[ng-cloak] {
  display: none !important;
}
* {
  box-sizing: border-box;
}
/* Tutorial */
.introjs-tooltip {
  direction: ltr;
  min-width: 350px;
}
.introjs-tooltiptext {
  text-align: left;
  margin: 7px;
  min-width: 320px;
}
.introjs-tooltipbuttons {
  text-align: center;
}
.introjs-tooltip h6 {
  font-size: 15px;
  background-color: #716259;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.introjs-tooltip ul {
  padding: 15px;
}
.introjs-button, .introjs-button:hover, .introjs-button:focus {
  color: #716259;
  border-left: 1px solid #d4d4d4;
  border-radius: .2em .2em .2em .2em;
  text-decoration: none;
}
.introjs-button {
  float: left;
  margin: 0px 5px;
  padding: 5px;
  font-size: 22px;
}
.introjs-button.introjs-skipbutton {
  float: right;
  padding: 7px;
  font-size: 18px;
}
.introjs-tooltip .glyphicon {
  margin-right: 7px;
}
.introjs-showElement.darkonintrojs,
.introjs-showElement .darkonintrojs,
.introjs-showElement .darkonintrojs span {
  color: #716259 !important;
}
.introjs-disabled {
    display: none;
}
/******************************** Main layout ********************************/
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
#header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  overflow: hidden;
}
#view,
noscript {
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 32px;
  overflow-y: auto;
  overflow-x: hidden;
}
#view.has-module {
  overflow-y: hidden;
}
#error {
  position: absolute;
  top: 75px;
  left: 39px;
  right: 39px;
  z-index: 20;
}
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 32px;
  overflow: hidden;
}
#footer .colorblind-toggle {
  height: 1.2em;
}
/******************************* Error message *******************************/
#error {
  background-color: #716259;
  color: #fff;
  padding: 26px;
}
#error h3 {
  margin: 0 0 26px 0;
}
#error > p {
  margin: 0;
}
#error > p a {
  color: #fff;
  opacity: 0.7;
}
#error > p a:hover,
#error > p a:active {
  opacity: 1;
  text-decoration: underline;
}
noscript {
  text-align: center;
}
noscript h2 {
  font-size: 3em;
  color: #700;
}
noscript span {
  font-size: 1.4em;
}
/***************************** Header and footer *****************************/
#header-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #fff;
}
.navbar {
  border-radius: 0;
}
#header-nav #navbar-form {
  flex-grow: 1;
  margin-right: 10%;
  margin-left: 26px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#header-nav #navbar-form .inputgrp {
  flex-grow: 1;
  position: relative;
  height: 34px;
}
#header-nav #navbar-form .inputgrp input {
  opacity: 0.3;
}
#header-nav #navbar-form:hover .inputgrp input {
  opacity: 1;
}
#header-nav #navbar-form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #716259;
  border-right: none;
  border-radius: 0;
  background-color: #fff;
  padding-left: 13px;
}
#header-nav #navbar-form .message {
  position: absolute;
  right: 13px;
  top: 0;
  line-height: 34px;
  opacity: 0.3;
}
#header-nav #navbar-form button {
  display: inline-block;
  background-color: #716259;
  color: #fff;
  padding: 4.33333333px 8.66666667px;
  outline: none;
  flex-grow: 0;
  border: none;
  border-radius: 0;
  height: 34px;
  padding: 0 13px;
}
#header-nav #navbar-form button:hover,
#header-nav #navbar-form button:active,
#header-nav #navbar-form button:focus {
  color: #fff;
  text-decoration: none;
}
#header-nav #navbar-form button.big-button {
  border-radius: 2px;
  padding: 6.5px 13px;
}
#header-nav #header-logos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
#header-nav .head-logo {
  margin: 0 6.5px;
}
/* Law search results */
.ui-autocomplete {
  width: 73%;
  background-color: #fff;
  border: 1px solid #716259;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 21;
  list-style: none;
  padding: 0;
}
.ui-autocomplete li {
  padding: 6.5px;
  cursor: pointer;
  color: #996247;
}
.ui-autocomplete li a {
  color: inherit;
  text-decoration: none;
}
.ui-autocomplete li + li {
  border-top: 1px solid #dad1cb;
}
.ui-autocomplete li .src-ico {
  display: flex;
  flex-flow: row nowrap;
  color: #716259;
  margin-top: 6.5px;
  font-size: 12px;
}
.ui-autocomplete li .src-ico > div {
  margin-left: 13px;
}
.ui-autocomplete li .src-ico .glyphicon {
  color: #716259;
}
.ui-autocomplete li.ui-state-focus {
  background-color: #716259;
  color: #fff;
}
.ui-autocomplete li.ui-state-focus .src-ico,
.ui-autocomplete li.ui-state-focus .glyphicon {
  color: inherit;
}
.ui-helper-hidden-accessible {
  display: none;
}
#footer {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#footer li a {
  margin: 0;
  padding: 0 13px;
  display: block;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #808285;
  font-size: 13px;
}
#footer li:hover {
  background-color: #eee;
}
/************************************ Home ***********************************/
#home #headline {
  text-align: center;
  padding: 13px 0;
}
#home #headline h1 {
  margin: 26px;
}
#home #headline h4 {
  margin: 13px;
}
#home #headline a.big-button {
  font-size: 18px;
  background-color: #50a477;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  margin: 26px 0;
}
#home #headline a.big-button:hover,
#home #headline a.big-button:active {
  background-color: #716259;
}
#home #headline a.big-button + p {
  margin-bottom: 52px;
}
#home #homelinks,
#home .disclaimer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0;
}
@media (max-width: 768px) {
  #home #homelinks,
  #home .disclaimer {
    flex-flow: row wrap;
  }
}
#home #homelinks > .laws,
#home .disclaimer > div {
  width: 30%;
}
@media (max-width: 1280px) {
  #home #homelinks > .laws,
  #home .disclaimer > div {
    width: 40%;
  }
}
@media (max-width: 960px) {
  #home #homelinks > .laws,
  #home .disclaimer > div {
    width: 45%;
  }
}
@media (max-width: 768px) {
  #home #homelinks > .laws,
  #home .disclaimer > div {
    width: 90%;
  }
}
#home #homelinks {
  background-color: #f0e5dd;
}
#home #homelinks .laws {
  text-align: center;
  margin: 0 32px;
}
#home #homelinks h5 {
  margin-top: 0;
}
#home #homelinks ul {
  list-style: none;
  margin: 0;
  padding: 0 0 13px 0;
  border-top: 2px solid #716259;
}
#home #homelinks a {
  color: #716259;
}
#home #homelinks a:hover,
#home #homelinks a:active {
  color: #716259;
}
#home #homelinks li {
  background-color: #fff;
  margin: 13px;
  height: 94px;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  text-align: left;
}
#home #homelinks li:hover {
  background-color: #ebebeb;
}
#home #homelinks li:hover .title,
#home #homelinks li:hover .status {
  text-decoration: underline !important;
}
#home #homelinks li a {
  display: flex;
  padding: 13px;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
#home #homelinks .title {
  color: #716259;
  font-size: 18px;
}
#home #homelinks .status {
  color: #996247;
}
#home .disclaimer:nth-child(2n) {
  background-color: #e1dad5;
  flex-direction: row-reverse;
}
#home .disclaimer > div {
  text-align: center;
  margin: 0 32px;
}
#home .disclaimer .text {
  padding: 0 16px;
}
#home .disclaimer h3 {
  margin: 0 0 32px 0;
}
#home .disclaimer .content {
  text-align: justify;
}
/*********************************** About ***********************************/
#about-title,
#about-text {
  margin: 13px 39px;
  padding: 13px;
  background: #fff;
}
#about-title {
  background-color: #716259;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#about-text a {
  color: #716259;
  text-decoration: underline;
}
#about-text a:hover,
#about-text a:active,
#about-text a:focus {
  opacity: 0.7;
}
#about-text ul {
  padding-left: 1.5em;
}
#about-text .partners {
  height: 60px;
  text-align: center;
}
#about-text .partners img {
  margin: 5px 15px;
}
/**************************** Common module layont ***************************/
.module-title {
  position: absolute;
  left: 39px;
  right: 39px;
  top: 75px;
  height: 50px;
  z-index: 1;
}
.module {
  position: absolute;
  left: 39px;
  right: 39px;
  top: 76px;
  bottom: 13px;
  /* Nav bar */
}
.module nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
nav .tutorial-button {
  display: block;
}
/* Main module display zone */
#display {
  position: absolute;
  overflow: hidden;
  top: 63px;
  left: 0;
  right: 0;
  bottom: 0;
}
#stepsbar,
#legend,
#sidebar {
  position: absolute;
  overflow: hidden;
}
#stepsbar {
  top: 0;
  left: 0;
  right: 25%;
  height: 118px;
}
#viz,
#viz + #preload {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 118px;
  left: 0;
  right: 25%;
  bottom: 0;
}
#viz + #preload {
  pointer-events: none;
}
#viz.has-legend {
  bottom: 100px;
}
#timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  height: 35px;
}
#timeline + #viz {
  overflow: auto;
  top: 0;
}
#timeline + #viz.has-timeline {
  top: 35px;
}
#legend {
  left: 0;
  right: 25%;
  bottom: 0;
  height: 100px;
}
#sidebar {
  top: 0;
  right: 0;
  width: 25%;
  bottom: 0;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
#sidebar.readmode {
  width: 100%;
}
/**************************** Common module style ****************************/
.module-title {
  background-color: #716259;
  color: #fff;
}
.module-title .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
}
.module-title .law-title {
  font-weight: bold;
  margin: 0 26px;
  flex-grow: 1;
  line-height: 50px;
}
.module-title .urgence {
  margin-left: -5px;
  margin-right: 10px;
}
.module-title .allinks {
  flex-basis: 288px;
}
.module-title .links {
  display: inline-block;
  margin: 0px 13px;
}
.module-title a {
  color: #fff;
  font-size: 12px;
}
.module-title a:hover,
.module-title a:active {
  opacity: 0.7;
  text-decoration: none;
}
.module nav {
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.module nav .spacer {
  flex-grow: 1;
}
.module nav .nav-item {
  margin: 0 26px;
}
.module nav .dropdown {
  white-space: nowrap;
}
.module nav .dropdown .selectedchoice {
  white-space: normal;
}
#display {
  background-color: #fff;
}
#legend {
  border-top: 1px solid #dad1cb;
  padding: 13px;
}
#sidebar {
  border: 1px solid #dad1cb;
  background-color: #fff;
}
#sidebar h4 {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #716259;
  margin: 0;
  padding: 0 13px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#sidebar #readMode,
#sidebar #revsMode {
  display: none;
  position: absolute;
  height: 60px;
  top: 0;
  z-index: 1;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
}
#sidebar #readMode {
  left: 6.5px;
}
#sidebar #revsMode {
  right: 6.5px;
}
#sidebar .text-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px;
}
#sidebar #help-msg {
  padding: 0 26px;
  text-align: center;
  font-style: italic;
}
#sidebar .question_mark {
  display: inline-block;
  background-color: #716259;
  color: #fff;
  padding: 4.33333333px 8.66666667px;
  outline: none;
  font-style: normal;
}
#sidebar .question_mark:hover,
#sidebar .question_mark:active,
#sidebar .question_mark:focus {
  color: #fff;
  text-decoration: none;
}
#sidebar .question_mark.big-button {
  border-radius: 2px;
  padding: 6.5px 13px;
}
/************************ Amendements / Debats legend ************************/
#legend .leg-item {
  width: 12%;
  margin-top: 5px;
  margin-left: 2%;
  cursor: pointer;
}
.amendements #legend .leg-empty {
  cursor: initial;
}
#legend .others .leg-item {
  min-width: 12%;
  width: auto;
}
#legend .leg-value {
  width: 18px;
  height: 18px;
  float: left;
}
#legend .colors,
#legend .others {
  display: flex;
  margin-top: 2px;
}
#legend .leg-key {
  float: left;
  margin-left: 4px;
  font-size: 0.9em;
}
#legend .leg-tooltip {
  background-color: #716259;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  opacity: 0;
  position: fixed;
  z-index: 10;
  margin: -34px 0 0 -5px;
  box-shadow: 2px 2px 10px -4px black;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#legend .leg-tooltip.large {
  margin-top: -52px;
}
#legend .leg-tooltip .leg-tooltip-title {
  font-weight: bold;
  display: block;
}
#legend .leg-tooltip .leg-tooltip-details {
  font-size: 0.8em;
}
#legend .leg-tooltip:before {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #716259;
  position: absolute;
  top: 100%;
  left: 8px;
}
#legend .leg-item:hover .leg-tooltip {
  opacity: 1;
}
#legend .leg-sort {
  background-color: #b4b4b4;
  background-repeat: no-repeat;
  background-position: center;
}
/* Debat-specific styles */
.debats #legend .leg-item {
  cursor: initial;
}
.debats #legend .leg-key,
.debats #legend .leg-value {
  cursor: pointer;
}
/********************************* Steps bar *********************************/
#stepsbar {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f3eee5;
}
#stepsbar .short-label {
  display: none;
}
#stepsbar .stb-stages,
#stepsbar .stb-insts,
#stepsbar .stb-steps {
  display: flex;
  flex-flow: row nowrap;
}
#stepsbar .stb-stages,
#stepsbar .stb-insts {
  height: 30px;
  border-bottom: 1px solid #fff;
}
#stepsbar .stb-steps {
  height: 58px;
}
#stepsbar .stb-stages .stb-stage:nth-child(2n),
#stepsbar .stb-steps .stb-step:nth-child(2n) {
  background-color: #e9e4db;
}
#stepsbar .stb-stages .stb-stage.current,
#stepsbar .stb-steps .stb-step.current {
  background-color: #fff;
}
#stepsbar .stb-stage + .stb-stage,
#stepsbar .stb-inst + .stb-inst,
#stepsbar .stb-step + .stb-step {
  border-left: 1px solid #fff;
}
#stepsbar .stb-stage,
#stepsbar .stb-inst,
#stepsbar .stb-step {
  text-align: center;
  line-height: 28px;
  position: relative;
}
#stepsbar .stb-inst.gouvernement {
  background-color: rgba(204, 203, 179, 0.3);
}
#stepsbar .stb-inst.assemblee,
#stepsbar .stb-inst.deputes {
  background-color: rgba(206, 214, 221, 0.3);
}
#stepsbar .stb-inst.senat,
#stepsbar .stb-inst.senateurs {
  background-color: rgba(249, 155, 144, 0.3);
}
#stepsbar .stb-inst.cmp {
  background-color: rgba(231, 221, 158, 0.3);
}
#stepsbar .stb-inst.congres {
  background-color: rgba(223, 179, 243, 0.3);
}
#stepsbar .stb-inst.conseil-constitutionnel {
  background-color: rgba(174, 234, 170, 0.3);
}
#stepsbar .stb-linkstep {
  font-size: 10px;
  color: inherit;
  text-decoration: none;
  position: absolute;
  top: 6.5px;
  right: 6.5px;
  opacity: 0.7;
}
#stepsbar .stb-special {
  color: #fd5252bd;
  text-align: right;
  position: absolute;
  top: 6.5px;
  right: 4px;
}
#stepsbar .stb-links {
  display: flex;
  flex-flow: row nowrap;
}
#stepsbar .stb-links .stb-link {
  flex-basis: 50%;
  color: #716259;
  opacity: 0.4;
}
#stepsbar .stb-links .stb-link:hover {
  text-decoration: none;
}
#stepsbar .stb-links .low-vis {
  opacity: 0.05;
}
#stepsbar .stb-links .stb-curr-st {
  opacity: 1;
}
#stepsbar .stb-live {
  margin-left: 4px;
  opacity: 0.6;
}
#stepsbar .stb-curr-st .stb-live {
  cursor: pointer;
}
#stepsbar .stb-live:before {
  content: '\e031';
}
/********************************** Navettes *********************************/
.navettes #navettes-slider {
  width: 60px;
  height: 16px;
  border: 1px solid #716259;
  background-color: #f6f6f6;
  cursor: pointer;
  padding-right: 10px;
  margin-left: 0;
}
.navettes #navettes-slider .ui-slider-handle {
  width: 10px;
  height: 14px;
  background-color: #716259;
  position: relative;
  display: block;
  outline: none !important;
  border: none !important;
  outline-color: transparent;
  user-select: none;
  border-radius: 0 !important;
  cursor: pointer;
}
.navettes #viz {
  padding: 0 6.5px;
}
.navettes .CMP {
  fill: #e7dd9e;
}
.navettes .PJL {
  fill: #cccbb3;
}
.navettes .AN {
  fill: #ced6dd;
}
.navettes .SE {
  fill: #f99b90;
}
.navettes .CC {
  fill: #aeeaaa;
}
.navettes .CG {
  fill: #dfb3f3;
}
.navettes .PR {
  fill: #716259;
}
.navettes .Color_Default {
  fill: #aea198;
}
.navettes .step-lbl text {
  fill: #fff;
  font-size: 9px;
  text-anchor: middle;
  font-family: Arial, sans-serif;
}
.navettes #legend {
  padding: 6.5px;
}
.navettes #legend h5 {
  font-size: 14px;
  margin: 0;
}
.navettes #bars {
  position: absolute;
  top: 6.5px;
  left: 6.5px;
  right: 6.5px;
  bottom: 6.5px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.navettes #bars .bar-step {
  flex-grow: 1;
}
.navettes #bars .bar-key {
  font-size: 8px;
  text-align: center;
}
.navettes #bars .bar-value {
  background-color: rgba(216, 209, 201, 0.6);
  cursor: pointer;
  margin: 0 1px;
}
.navettes .filtered_month.bar-value,
.navettes .bar-value:hover {
  background-color: #d8d1c9;
  border: 1px solid #716259;
}
.navettes .text-container {
  display: flex;
  flex-flow: column nowrap;
}
.navettes .text-container p {
  text-align: center;
}
.navettes .text-container .extrainfos {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
.navettes .text-container .extrainfos .badges-list {
  flex-grow: 1;
}
.navettes .gotomod {
  text-align: center;
  font-weight: bold;
  margin: 13px;
}
.navettes .badges-list {
  list-style: none;
  margin: 39px 13px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
.navettes .badges-list li {
  width: 50%;
  text-align: center;
}
.navettes .badges-list h7 {
  display: block;
  font-size: 12px;
}
.navettes .badge {
  border-radius: 0;
}
.navettes .badge-tlf {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.6;
  font-size: 15px;
}
.navettes .badge-tlf .badge-icon,
.navettes .badge-tlf .badge-prefix,
.navettes .badge-tlf .badge-suffix {
  color: #fff;
  padding: 0 8.66666667px;
  background-color: #716259;
  height: 26px;
  line-height: 26px;
}
.navettes .badge-tlf .badge-icon {
  margin-left: 6.5px;
  font-size: 10px;
  background-image: url('../img/badge_angle.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 12px;
  width: 50px;
}
.navettes a.badge {
  background-color: #eee;
  color: #716259;
  opacity: 0.85;
}
.navettes a.badge:hover {
  opacity: 0.55;
}
.navettes-popover.CMP h3 {
  border-bottom: 7px solid #e7dd9e;
}
.navettes-popover.PJL h3 {
  border-bottom: 7px solid #cccbb3;
}
.navettes-popover.AN h3 {
  border-bottom: 7px solid #ced6dd;
}
.navettes-popover.SE h3 {
  border-bottom: 7px solid #f99b90;
}
.navettes-popover.CC h3 {
  border-bottom: 7px solid #aeeaaa;
}
.navettes-popover.CG h3 {
  border-bottom: 7px solid #dfb3f3;
}
.navettes-popover.PR h3 {
  border-bottom: 7px solid #716259;
}
.navettes-popover.IP h3 {
  border-bottom: 7px solid #d8d1c9;
}
.navettes-popover.Color_Default h3 {
  border-bottom: 7px solid #aea198;
}
.navettes-popover .popover-content {
  text-align: center;
}
.icon-AmPA:before {
  font-family: 'tlf-icons';
  content: '\e802';
}
.icon-calendar:before {
  font-family: 'tlf-icons';
  content: '\e801';
}
.icon-AmD:before {
  font-family: 'tlf-icons';
  content: '\e803';
  font-size: 80%;
}
.icon-QO:before {
  font-family: 'tlf-icons';
  content: '\e804';
}
.icon-balance:before {
  font-family: 'tlf-icons';
  content: '\e806';
}
.icon-warning:before {
  font-family: 'tlf-icons';
  content: '\e807';
}
.icon-volume-1:before {
  font-family: 'tlf-icons';
  content: '\e809';
}
/********************************** Articles *********************************/
.articles .head-lbl {
  font-family: sans-serif;
  text-anchor: middle;
  letter-spacing: 0.2em;
  font-weight: bold;
  fill: #fff;
  font-size: 9px;
}
.articles .header {
  fill: #716259;
  stroke: none;
}
.articles .header.echec {
  fill: #fd5252;
}
.articles .new {
  stroke: none;
  fill: #8df798;
}
.articles .sup {
  stroke: none;
  fill: #fd5252;
}
.articles .article {
  cursor: pointer;
}
.articles .art-meta {
  text-align: center;
}
.articles .art-meta .button {
  margin-bottom: 13px;
  font-weight: bold;
}
.articles .readmode .button {
  position: absolute;
  right: 13px;
  top: 13px;
}
.articles .art-txt ul {
  padding-left: 10px;
}
.articles .art-txt ul li {
  margin-bottom: 13px;
  padding-left: 5px;
}
.articles ul.originaltext {
  list-style-type: decimal-leading-zero;
  font-size: 0.7em;
}
.articles .art-txt ul.originaltext li span {
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
}
.articles ul.originaltext li span,
.articles ul.originaltext li ins {
  font-size: 1.5em;
}
.articles ul.originaltext li ins {
  background: #E6FFE6;
}
.articles-popover h3 {
  background-color: #716259;
  color: #fff;
  border-radius: 0;
}
.articles #sidebar .gotomod {
  font-size: 1.1em;
}
.articles #sidebar.has-diff-preview .text-container {
  /* Hide scrollbar */
  right: -100px;
  padding-right: 113px;
}
.articles .diff-preview {
  position: absolute;
  width: 13px;
  top: 60px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border-left: 1px solid #ccc;
  visibility: hidden;
}
.articles .has-diff-preview .diff-preview {
  visibility: visible;
}
.articles .diff-preview .cursor {
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.25;
  cursor: pointer;
}
.articles .diff-preview .ins {
  background-color: #8f8;
}
.articles .diff-preview .del {
  background-color: #f88;
}
/********************************* Amendements *******************************/
.amendements #probe {
  position: absolute;
  left: -1000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
.amendements #sujets {
  padding-bottom: 30px;
}
.amendements .sujet {
  padding: 12px 20px 0 30px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.amendements .sujet .titre {
  font-size: 0.85em;
  margin-bottom: 1px;
}
.amendements .sujet .titre-link {
  cursor: pointer;
}
.amendements .colonnes #sujets {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.amendements .colonnes .sujet {
  width: 50%;
}
.amendements .colonnes .sujet:nth-child(2n+1) {
  padding-right: 5px;
}
.amendements .colonnes .sujet:nth-child(2n) {
  padding-left: 15px;
}
.amendements .s-focus-mode .sujet {
  opacity: 0.25;
}
.amendements .s-focus-mode .sujet.focus {
  opacity: 1;
}
.amendements .liste-amendements {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  background-image: url(../img/filler.png);
}
.amendements .sort-by-numero .liste-amendements {
  flex-direction: row;
}
.amendements .amendement {
  width: 20px;
  height: 20px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.amendements .amendement.selected {
  border: 2px solid #333344;
}
.amendements .a-focus-mode .amendement {
  opacity: 0.15;
}
.amendements .a-focus-mode .amendement.focus {
  opacity: 1;
}
.amendements #amendement-tooltip {
  opacity: 0;
  position: absolute;
  z-index: 10;
  margin: -82px 0 0 30px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 1px;
  box-shadow: 2px 2px 10px -4px black;
  pointer-events: none;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.amendements #amendement-tooltip .arrow {
  width: 11px;
  height: 23px;
  position: absolute;
  left: -11px;
  top: 79px;
  background-image: url(../img/left-arrow.png);
}
.amendements #amendement-tooltip .numero {
  background-color: #716259;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.amendements #amendement-tooltip .groupe {
  font-weight: bold;
}
.amendements #amendement-tooltip .groupe,
.amendements #amendement-tooltip .sort,
.amendements #amendement-tooltip .date {
  margin: 15px;
}
.amendements .a-focus-mode .faded {
  opacity: 0.15;
}
.amendements #load_amd {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
.amendements .text-container {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.amendements .text-container .amd-nav,
.amendements .text-container .amd-status {
  display: flex;
  justify-content: space-between;
}
.amendements .text-container .amd-txt-status {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.amendements .text-container .amd-txt-status img {
  position: absolute;
}
.amendements .text-container .amd-nav {
  margin-bottom: 13px;
  display: none;
}
.amendements .readmode .amd-nav {
  display: flex;
}
.amendements .amd-flex {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
}
.amendements .amd-flex .amd-nav,
.amendements .amd-flex .amd-status,
.amendements .amd-flex .amd-subject,
.amendements .amd-flex .amd-sources {
  flex-grow: 0;
  flex-shrink: 0;
}
.amendements .amd-nav a {
  color: #716259;
  outline: none;
}
.amendements .amd-nav a:hover {
  opacity: 0.7;
}
.amendements .amd-nav a:hover,
.amendements .amd-nav a:active,
.amendements .amd-nav a:focus {
  text-decoration: none;
}
.amendements .amd-flex .amd-signataires,
.amendements .amd-flex .amd-motifs,
.amendements .amd-flex .amd-text {
  overflow: hidden;
  margin: 13px 0;
  cursor: pointer;
  position: relative;
}

.amendements .amd-flex .amd-fade {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;

  z-index: 1;

  /* border-bottom: 1px solid #dad1cb; */
  background-image: url(../img/fade-down.png);
  background-repeat: repeat-x;
}

.amendements .amd-flex .amd-expand-symbol {
    display:none;
    color: #888;
}

/* The fading effect hides the title (e.g. 'Signataires', 'Texte', 'Exposé des
   motifs') when the resolution is low. When needed, it is replaced by a '[...]'
   text */

@media (max-height:869px) {
    .amendements .amd-flex .expanded .amd-expand-symbol {
	display:none;
    }
    .amendements .amd-flex .amd-expand-symbol {
	display:inline;
    }
    .amendements .amd-flex .amd-text-content,
    .amendements .amd-flex .amd-fade {
	display: none;
    }

    .amendements .amd-flex .expanded .amd-text-content {
	display: block;
    }

}

.amendements .amd-flex .expanded .amd-fade {
  display: none;
}
.amendements .amd-flex .amd-text-content {
  margin-left: 6.5px;
}
.amendements .amd-flex .amd-sources {
  text-align: center;
}
.amendements .amd-flex .amd-sources a {
  white-space: nowrap;
}
.amendements .text-container.loading {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.amendements .amd-flex .amd-signataires,
.amendements .amd-flex .amd-motifs,
.amendements .amd-flex .amd-text {
  flex-basis: 10%;
}
.amendements .amd-flex .expanded {
  flex-basis: 80%;
  cursor: initial;
  overflow-y: auto;
}
/*********************************** Debats **********************************/
.debats .orat-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 26px;
}
.debats .orateur {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 13px;
}
.debats .orat-pic {
  min-height: 90px;
  margin-right: 13px;
}
.debats .orat-pic img {
  width: 60px;
}
.debats .orat-info {
  flex-grow: 1;
  font-size: 12px;
}
.debats .orat-info > p {
  margin-bottom: 0;
}
.debats .orat-count {
  margin-left: 13px;
  text-align: center;
  font-size: 10px;
}
.debats-popover h3 {
  background-color: #716259;
  color: #fff;
  border-radius: 0;
}
