angular.module('theLawFactory.config', [])
    .constant('API_ROOT_URL', 'http://www.lafabriquedelaloi.fr/api/')
    .constant('HOST', 'lafabriquedelaloi.fr')
    .constant('GOOGLE_ANALYTICS_ID','');
