angular.module('theLawFactory.config', [])
    .constant('API_ROOT_URL', 'https://www.lafabriquedelaloi.fr/api/')
    .constant('GOOGLE_ANALYTICS_ID','')
    .constant('HOST_FOR_GOOGLE', 'lafabriquedelaloi.fr');
