<div class="row">
  <div class="burntsiena about">
    <h4 class="about">À propos de La Fabrique de la Loi</h4>
  </div>
</div>

<div class="row">
  <div class="col-md6 col-md-offset-3 about">

    <p>«&nbsp;La Fabrique de la Loi&nbsp;» est un projet collaboratif associant les membres de <a target="_blank" href="http://www.regardscitoyens.org">Regards Citoyens</a>, une association promouvant par la pratique la libération et la réutilisation de données parlementaires à des fins démocratiques, et les équipes de deux laboratoires de recherche de Sciences Po Paris, le <a target="_blank" href="http://cee.sciences-po.fr/">Centre d’Études Européennes</a> et le <a target="_blank" href="http://www.medialab.sciences-po.fr/">médialab</a>. Le design du site a été réalisé par le laboratoire de recherche de l’École Polytechnique de Milan, <a target="_blank" href="http://www.densitydesign.org/">Density Design</a>.</p>

    <p>Le projet a été lancé en mai 2011, grâce au dispositif de financement <a target="_blank" href="http://www.iledefrance.fr/competence/picri">PICRI</a> (Partenariat Institutions&nbsp;-&nbsp;Citoyens pour la Recherche et l’Innovation) de la <a href="http://www.iledefrance.fr/">Région Île-de-France</a>.</p>

    <p>L'interface utilise <a href="http://d3js.org/">d3.js</a>, <a href="https://angularjs.org/">Angular.js</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://jquery.com/">JQuery</a>, <a href="http://usablica.github.io/intro.js/">Intro.js</a>, <a href="http://code.google.com/p/google-diff-match-patch/">diff.js</a> et <a href="http://fgnass.github.io/spin.js/">spin.js</a>.</p>

    <p>Les logiciels réalisés tout au long du projet sont des logiciels libres. Ils sont publiés sous la licence <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL 3</a>&nbsp;:
      <ul>
        <li>les scripts bash, perl et python permettant de générer les données de l'API sur le projet <b><a href="https://github.com/regardscitoyens/the-law-factory-parser">the-law-factory-parser</a></b></li>
        <li>l'interface web de présentation des lois en html et javascript sur le projet <b><a href="https://github.com/regardscitoyens/the-law-factory-parser">the-law-factory</a></b></li>
      </ul>
    </p>

    <p>Toutes les données constituées sont remises à disposition en OpenData sous la licence <a href="http://opendatacommons.org/licenses/odbl/">ODBL</a> sous la forme d'une <a href="http://www.lafabriquedelaloi.fr/api/">API arborescente de dossiers par texte de loi</a> ainsi que sous la forme de <a href="http://git.lafabriquedelaloi.fr/">dépôts git</a> enregistrant les différentes versions des textes à chaque étape parlementaire.</p>

  </div>

</div>
