<div class="help-ico">
    <b  ng-click="expand()" ng-hide="expanded">?</b>
    <div  ng-animate="'animate'" ng-show="expanded">
        <span>Help</span>
        <span ng-click="close()" class="h-close glyphicon glyphicon-remove"></span>
    </div>
    <div  ng-animate="'animate'" ng-show="expanded" class="help-content" ng-switch on="mod">
        <div ng-switch-when="mod0" >
            <ng-include src="'templates/help_mod0.html'"></ng-include>
        </div>
        <div ng-switch-when="mod1" >
            <ng-include src="'templates/help_mod1.html'"></ng-include>
        </div>
        <div ng-switch-when="mod2" >
            <ng-include src="'templates/help_mod2.html'"></ng-include>
        </div>
        <div ng-switch-when="mod2b" >
            <ng-include src="'templates/help_mod2b.html'"></ng-include>
        </div>
        <!--<div ng-switch-when="2">
            <ng-include src="'template2.html'"></ng-include>
        </div>>-->



    </div>

</div>