<div id="home" resizable style="height: {{availableHeight - 50}}px; overflow-y:scroll; padding-bottom: 120px">
<div id="headline">
  <h1>Les députés font-ils la loi ?</h1>
  <h4>Explorez l'évolution de la loi au fil de la procédure parlementaire avec La Fabrique de la Loi&nbsp;!</h4>

  <a class="button" href="lois.html">
    Explorer plus de 270 textes de lois *
  </a>
  <p>
  * promulgués depuis 2010
</p>
</div>

<div id="homelinks">
 <div class="laws">
  <h5>Les derniers textes débattus</h5>
   <ul>
    <li>
      <a href="articles.html?loi=ppl13-007">
        <h2>Économie réelle</h2>
        <span class="number">518</span> amendements
      </a>
    </li>
    <li>
      <a href="articles.html?loi=pjl13-257">
        <h2>Géolocalisation</h2>
        <span class="number">115</span> amendements
      </a>
    </li>
    <li>
      <a href="articles.html?loi=ppl12-866">
        <h2>Contrefaçon</h2>
        <span class="number">190</span> amendements
      </a>
    </li>
  </ul>
  <!-- ul>
    <li class="row">
        <a href="articles.html?loi=ppl13-007">
        <div class="col-md-12">
          <h2 class="col-md-9">Économie réelle</h2>
          <div class="stat col-md-3">
            <span class="number">518</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </a>
    </li>
    <li class="row">
      <a href="articles.html?loi=pjl13-257">
        <div class="col-md-12">
          <h2 class="col-md-6">Géolocalisation</h2>
          <div class="stat col-md-3">
            <span class="number">115</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </a>
    </li>
    <li class="row">
      <a href="articles.html?loi=ppl12-866">
        <div class="col-md-12">
          <h2 class="col-md-6">Contrefaçon</h2>
          <div class="stat col-md-3">
            <span class="number">190</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </a>
    </li>
  </ul -->
  <p><a href="lois.html">Explorer les textes récents</a></p>
 </div>

 <div class="laws">
  <h5>Les textes les plus amendés</h5>
  <ul>
    <li>
     <a href="articles.html?loi=pjl12-349">
        <h2>Mariage pour couples de personnes du même sexe</h2>
        <span class="number">9201</span> amendements
      </a>
    </li>
    <li>
      <a href="articles.html?loi=pjl09-060">
        <h2>Collectivités territoriales</h2>
        <span class="number">2122</span> amendements
      </a>
    </li>
    <li>
      <a href="articles.html?loi=pjl12-166">
        <h2>Élection et modification du calendrier électoral</h2>
        <span class="number">2043</span> amendements
      </a>
    </li>
  </ul>
  <!--ul>
    <li class="row">
        <a href="articles.html?loi=pjl12-349">
        <div class="col-md-12">
          <h2 class="col-md-6">Mariage pour couples de personnes du même sexe</h2>
          <div class="stat col-md-3">
            <span class="number">9201</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
        </div>
      </a>
    </li>
    <li class="row">
      <a href="articles.html?loi=pjl09-060">
        <div class="col-md-12">
          <h2 class="col-md-6">Collectivités territoriales</h2>
          <div class="stat col-md-3">
            <span class="number">2122</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
        </div>
      </a>
    </li>
    <li class="row">
      <a href="articles.html?loi=pjl12-166">
        <div class="col-md-12">
          <h2 class="col-md-6">Élection et modification du calendrier électoral</h2>
          <div class="stat col-md-3">
            <span class="number">2043</span>
            <span>amendements</span>
          </div>
          <div class="stat col-md-3">
            <span class="number">25&nbsp;%</span>
            <span>modifications</span>
          </div>
        </div>
      </a>
    </li>
  </ul -->
  <p><a href="lois.html?action=quanti">Explorer les textes les plus amendés</a></p>
 </div>
</div>

<div id="disclaimer">Lorem Ipsum dolor, la fabrioque est un projet blablablabla, données blbabalabla v1, plus a venir blabalbala ....Lorem Ipsum dolor, la fabrioque est un projet blablablabla, données blbabalabla v1, plus a venir blabalbala ...<br/>Lorem Ipsum dolor, la fabrioque est un projet blablablabla, données blbabalabla v1, plus a venir blabalbala ...<br/>Lorem Ipsum dolor, la fabrioque est un projet blablablabla, données blbabalabla v1, plus a venir blabalbala ......</div>
<div id="credits"></div>
</div>
