<div class="lawlist" lawlist></div>

<div id="headline">
  <h1>
  Time has come for Law tracking !
  </h1>
  <h4>
  Un outil original pour visualiser la phase parlementaire <br/>du processus législatif en France
  </h4>


  <a class="button" href="lois.html">
    explorer tous les textes de Lois
</a>



</div>

<div id="laws">
  <ul>
    <li class="row">
      
        <a href="loi?l=pjl12-349">
        <div class="col-md-12">

          <h2 class="col-md-6">Mariage pour couples de personnes du même sexe (2013)</h2>
        
          <div class="stat col-md-3">
            <div class="number">9474</div>
            <div>Amendements</div>
          </div>
          
          <div class="stat col-md-3">
            <div class="number">25 %</div>
            <div>Modifications</div>
          </div>
        </div>
      </a>
    </li>
    <li  class="row">
      <a href="loi?l=pjl12-166">
        <div class="col-md-12">

          <h2 class="col-md-6">Élection et modification du calendrier électoral (2013)</h2>
          
          <div class="stat col-md-3">
            <div class="number">2043</div>
            <div>Amendements</div>
          </div>
          
          <div class="stat col-md-3">
            <div class="number">25 %</div>
            <div>Modifications</div>
          </div>
        </div>
      </a>
    </li>
    <li  class="row">
      <a href="loi?l=pjl13-071">
        <div class="col-md-12">
          <h2 class="col-md-6">Avenir des systèmes de retraites (2014)</h2>

          <div class="stat col-md-3">
            <div class="number">1689</div>
            <div>Amendements</div>
          </div>
          
          <div class="stat col-md-3">
            <div class="number">25 %</div>
            <div>Modifications</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<div id="credits"></div>