<div class="row">
  <div class="col-md-10 col-md-offset-1 burntsiena" id="ToolsPanel">
    <div class="title">
      <h4 class="law-title">Explorer les textes promulgués depuis 2010</h4>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-10 col-md-offset-1" style="background-color: white;">
    <nav id="filter-nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li id="backtoall" class="active" style="display: none;"><a href="/lois.html">&lt; Tous les textes</a></li>
	<li id="menu-display" class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown">Affichage <span class="selectedchoice">chronologique</span> <b class="caret"></b></span>
            <ul class="dropdown-menu" id="display_menu">
              <li><a id="dm-time" class="chosen" onclick="drawGantt('time')">chronologique</a></li>
              <li><a id="dm-absolute" onclick="drawGantt('absolute')">comparatif</a></li>
              <li><a id="dm-quanti" onclick="drawGantt('quanti')">quantitatif</a></li>
          </ul>
        </li>        
	<li class="dropdown" id="menu-sort" style="display: none;">
          <span class="dropdown-toggle" data-toggle="dropdown">Trié par <span class="selectedchoice">date</span> <b class="caret"></b></span>
            <ul class="dropdown-menu" role="menu" id="display_order">
              <li><a id="do-length" class="chosen" onclick="drawGantt('sortl')">durée d'adoption</a></li>
              <li><a id="do-date" onclick="drawGantt('sortd')">date de promulgation</a></li>
              <li><a id="do-amds" onclick="drawGantt('sorta')">amendements déposés</a></li>
            </ul>
        </li>        
	<li class="dropdown" id="menu-amendments">
          <span href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="selectedchoice">Au moins 50 amendements</span> <b class="caret"></b></span>
	  <ul class="dropdown-menu" id="amendments"></ul>
        </li>        
	<li class="dropdown" id="menu-years">
          <span href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="selectedchoice">Étudié en 2013</span> <b class="caret"></b></span>
	  <ul class="dropdown-menu" id="years"></ul>
        </li>        
	<li class="dropdown" id="menu-themes">
          <span href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="selectedchoice">Tous les thèmes</span> <b class="caret"></b></span>
          <ul class="dropdown-menu" id="themes"></ul>
        </li>        
        <li class="ctrl-zoom">
        <div class="ctrl-label"><span>zoom</span></div>
        <div id="mod0-slider"></div>
      </div>
      </ul>
  </div>
  </nav>
</div>
</div>


<div class="row">
  <div class="col-md-12 viz-container">

    <div class="scrolling">

      <div class="main-sc">
        <div id="commands">
        </div>

        <div id="margin"></div>
        <div id="legend"></div>
        <div id="gantt" movescroll>
          <div id="preload"></div>
        </div>

      </div>

      <div class="labels-sc">
        <h5>Filtrer par durée d'adoption des textes</h5>
        <div id="bars"></div>
      </div>
    </div>

    <div class="text">
      <h4 id="text-title">Sélectionner une loi</h4>
      <div class="text-container"></div>
      <div class="grad-white"></div>
    </div>

  </div>
</div>
<script type="text/javascript" src="js/modules/mod0.js"></script>
