<div class="lawlist" lawlist>

	</div>


<div class="row">
	<div class="col-md-10 col-md-offset-1 title">
		<h4>ÉVOLUTION DES ARTICLES</h4>
        <a class="btn-title" ng-href="mod0"><span class="glyphicon glyphicon-align-left"></span> Back to law list</a>
		</div>
	</div>


<div class="row menu-hide">
	
	<div class="col-md-10 col-md-offset-1">
			
			
		
	</div>
</div>




<div class="row">
	<div class="col-md-10 col-md-offset-1 separator">

	</div>
</div>
<div class="row">
	<div class="col-md-12 viz-container">
		<div class="labels">
			<h4>ÉTAPES</h4>

            <div class="btn-group dd-btn">
                <button type="button" class="btn">Layout</button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a onclick="stacked()">Stacked</a></li>
                    <li><a onclick="valign()">Aligned</a></li>
                </ul>
            </div>
		</div>
		<div class="main">
			<div class="stages">

                <div stepsbar></div>

			</div>



			<div id="viz">
                <div class="circle"></div>
                <div class="circle"></div>

			</div>
		</div>
		<div class="text">
			<h4 id="text-title">Sélectionner un article</h4>
			<div class="text-container">
				<div class="art-meta"></div>
				<div class="art-txt"></div>
			</div>
		</div>
	</div>
</div>
