<div class="row">
  <div class="col-md-8 col-md-offset-2 title">
    <h4>CHANGES ON ARTICLES</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 separator"></div>
</div>
<div class="row">
  <div class="col-md-10 viz-container">
    <div class="labels">
      <h4>STEPS</h4>
    </div>
    <div class="main">
      <div class="stages">
      </div>
      <div id="viz"></div>
    </div>
    <div class="text">
      <h4 id="law-title">Select an article</h4>
      <div class="text-container">
      	<div class="art-meta"></div>
        <p class="art-txt"></p>
      </div>
    </div>
  </div>
</div>