<div class="row">
  <div class="col-md-10 col-md-offset-1 burntsiena" id="ToolsPanel">
	<div class="title"></div>
    <div class="col-md-10">
	    <ul class="list-inline">
	    	<li><span class="glyphicon glyphicon-filter"></span>filtres
		    	<ul class="burntsiena">
		    		<li><span>Ad lorem Ipsum 1</span></li>
		    		<li><span>Ad lorem Ipsum 2</span></li>
		    		<li>Ad lorem Ipsum 3</li>
		    	</ul>
	    	</li>
	    	<li> 
	    		<span class="glyphicon"></span>
				Layout
				<ul class="burntsiena">
					<li>Ad lorem Ipsum 1
						<ul class="burntsiena">
							<li>Dolores sit amen</li>
							<li>I love gingers </li>
						</ul>
						
					</li>
					<li>Ad lorem Ipsum 2</li>
				</ul>
	    	</li>
	    
	    </ul>
	    
    </div>
    <div class="col-md-2"> <a class="btn-title" ng-href="/lois.html"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;Explorer d'autres lois</a></div>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12 viz-container">
		<div class="labels">
            <div class="btn-group dd-btn">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Affichage</button>
                <button type="button" class="btn dropdown-toggle arrow" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Déplier le menu</span>
                </button>

                <ul class="dropdown-menu" role="menu" id="display_menu">
                    <li><a id="dm-aligned" class="chosen" onclick="valign()">aligné</a></li>
                    <li class="divider"></li>
                    <li><a id="dm-stacked" onclick="stacked()">compact</a></li>
                </ul>
            </div>
		</div>
		<div class="main">
			<div class="stages">
                <div stepsbar></div>
			</div>

			<div id="viz">
                <div id="preload"></div>
			</div>
		</div>
		
		<div class="text" id="Articles">
          <div id="readMode">
			<div ng-hide="read" class="interactive readMode" ng-click="readmode()" data-toggle="tooltip" title="Déployer le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-left"></span></div>
			<div ng-show="read" class="interactive readMode" ng-click="viewmode()" data-toggle="tooltip" title="Replier le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-right"></div>
          </div>
			
          <div id="revsMode">
			<div ng-show="revs" class="interactive revsMode" ng-click="hiderevs()"  data-toggle="tooltip" title="Cacher les modifications" data-placement="bottom" data-original-title="Cacher les modifications"><span  class="glyphicon glyphicon glyphicon-check"> </span></div>
			  
            <div ng-hide="revs" class="interactive revsMode" ng-click="showrevs()" data-toggle="tooltip" title="Afficher les modifications" data-placement="bottom" data-original-title="Afficher les modifications"><span class="glyphicon glyphicon glyphicon-edit"></span></div>
          </div>

			<h4 id="text-title">Sélectionner un article</h4>
            <div class="wide-read"></div>
			<div class="text-container">
				<div class="art-meta"></div>
                <div id="load_art"></div>
				<div class="art-txt"></div>
                <div class="grad-white"></div>
			</div>
		</div>
		
	</div>
	
</div>
<script type="text/javascript" src="js/lib/google-diff-match-patch-r106.min.js"></script>
<script type="text/javascript" src="js/modules/mod1.js"></script>
