<div class="lawlist" lawlist>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 title">
        <h4>Explorer les amendements déposés sur le texte à chaque étape législative</h4>
        <a class="btn-title" ng-href="mod0"><span class="glyphicon glyphicon-align-left"></span>Explorer d'autres lois</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 separator">
    </div>
</div>
<div class="row">
  <div class="col-md-12 viz-container">

 	<div class="scrolling">
	    <div class="labels-sc">
          <h4>ÉTAPES</h4>
	      <div class="stages">
              <div stepsbar></div>
	      </div>
	    </div>
	    <div class="main-sc">
	    	 <div class="art-list">

                 <div class="btn-group dd-btn">
                     <button type="button" class="btn">Affichage</button>
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                         <span class="caret"></span>
                         <span class="sr-only">Toggle Dropdown</span>
                     </button>

                     <ul class="dropdown-menu" role="menu">
                         <li><a onclick="draw()">par articles</a></li>
                         <li><a onclick="drawMerged()">assemblé</a></li>
                     </ul>
                 </div>


                 <div class="btn-group dd-btn">
                     <button type="button" class="btn">Ordonner</button>
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                         <span class="caret"></span>
                         <span class="sr-only">Toggle Dropdown</span>
                     </button>

                     <ul class="dropdown-menu" role="menu">
                         <li><a onclick="sortByStat()">sort final</a></li>
                         <li><a onclick="sortByParty()">groupe politique</a></li>
                     </ul>
                 </div>


	    	 </div>
	      <div id="viz">

             <div id="preload"></div>

	      </div>

	      </div>

	     <div class="legend">LÉGENDE<div class="colors"></div></div>
	    </div>

	  <div class="text">
      <h4 id="text-title">Sélectionner un amendement</h4>
      <div class="text-container">

      </div>
      <!--<div class="end-tip"></div>-->
    </div>
  </div>

  </div>
</div>
