<div class="lawlist" lawlist>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 title">
    <h4>DÉBATS</h4>
    <div class="menu-btn"><img src="img/menu.png"/></div>
  </div>
</div>

<div class="row menu-hide">
  <div class="col-md-10 col-md-offset-1">

		<button type="button" class="btn" id="search-btn">
				Search a law
			</button>

	<div class="btn-group dd-btn">
  <button type="button" class="btn">Order by</button>
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="sortByStat()">Statut</a></li>
    <li><a onclick="sortByDate()">Date</a></li>
    <li><a>Party</a></li>
  </ul>
</div>

 </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1 separator">
  	
  
  	
  </div>
</div>
<div class="row">
  <div class="col-md-12 viz-container">
 	
 	<div class="scrolling">
	    <div class="labels-sc">
	      <h4>ÉTAPES</h4>
	      <div class="art-list"></div>
	    </div>
	    <div class="main-sc">
	      <div class="stages">
	      </div>
	      <div id="viz"></div>
	     
	    </div>
  </div>
   
    <div class="text">
      <h4 id="text-title">Sélectionner un participant</h4>
      <div class="text-container">
        <p></p>
        
      </div>
      <div class="end-tip"></div>
    </div>
    <div class="legend">STATUS<div class="colors"></div></div>
    
    
  </div>
</div>
