<div class="row">
  <div class="col-md-10 col-md-offset-1 burntsiena" id="ToolsPanel">
	<div class="title"></div>
  </div>
</div>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-10 col-md-offset-1" style="background-color: white;">
    <nav id="filter-nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul id="menu-left" class="nav navbar-nav">
	<li class="active"><a ng-href="articles.html?loi={{loi}}">&lt; Voir les articles du texte</a></li>
	<li id="menu-order" class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown">Vue <span class="selectedchoice">« échiquier politique »</span> <b class="caret"></b></span>
            <ul class="dropdown-menu" role="menu" id="display_menu">
              <li><a id="dm-classic" class="chosen" onclick="drawFlows(false)">échiquier politique</a></li>
              <li><a id="dm-quanti" onclick="drawFlows(true)">quantitative</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" id="menu-right">
      <li id="menu-zoom">&nbsp;</li>
      <li id="menu-tutorial"  ng-click="startTutorial()"><span><a>?</a></span></li>
      </ul>
    </div>
    </nav>
  </div>
</div>


<div class="row">
  <div class="col-md-12 viz-container">
    <div class="scrolling">

      <div class="labels-sc">
        <div class="stages shift-steps">
          <div stepsbar></div>
        </div>
      </div>

      <div class="main-sc">

        <div id="commands">
        </div>

        <div id="viz">
          <div id="preload"></div>
          <div id="viz-int"></div>
        </div>

      </div>

      <div class="legend">LÉGENDE<div class="colors"></div><div class="others"></div></div>

    </div>

    <div class="text">
      <h4 id="text-title">Sélectionner un groupe d'orateurs</h4>
      <div class="text-container">
        <p></p>
      </div>
      <div class="grad-white"></div>
    </div>

  </div>
</div>
<script type="text/javascript" src="js/modules/mod2b.js"></script>
