<div class="row">
  <div class="col-md-10 col-md-offset-1 burntsiena" id="ToolsPanel">
    <div class="title"></div>
    <a class="btn-title" ng-href="lois.html?loi={{loi}}"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;Retour à la chronologie de ce texte</a>
    <a class="btn-title" ng-href="articles.html?loi={{loi}}"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Retour aux articles de ce texte</a>
  </div>
</div>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-10 col-md-offset-1" style="background-color: white;">
    <nav id="filter-nav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
	<li class="active"><a ng-href="articles.html?loi={{loi}}">&lt; Voir les articles du texte</a></li>
	<li id="menu-display" class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown">Affichage <span class="selectedchoice">par articles</span> <b class="caret"></b></span>
	  <ul class="dropdown-menu" role="menu" id="display_menu">
	    <li><a id="dm-draw" class="chosen" onclick="redraw(false)">par articles</a></li>
	    <li><a id="dm-merged" onclick="redraw(true)">groupé</a></li>
	  </ul>
        </li>
	<li id="menu-order" class="dropdown">
	  <span class="dropdown-toggle" data-toggle="dropdown">Trié par <span class="selectedchoice">sort final</span> <b class="caret"></b></span>
	  <ul class="dropdown-menu" role="menu" id="display_order">
	    <li><a id="do-stat" class="chosen" onclick="sortByStat()">sort final</a></li>
	    <li><a id="do-party" onclick="sortByParty()">groupe politique</a></li>
	  </ul>
        </li>
      </ul>
    </div>
    </nav>
  </div>
</div>


<div class="row">
  <div class="col-md-12 viz-container">
     <div class="scrolling">

        <div class="labels-sc">
          <div class="stages shift-steps">
              <div stepsbar></div>
          </div>
        </div>

        <div class="main-sc">

          <div id="commands">
          </div>

          <div id="viz">
            <div id="preload"></div>
          </div>

        </div>

        <div class="legend">LÉGENDE<div class="colors"></div><div class="others"></div></div>
        <div class="clear"></div>
      </div>

      <div class="text">

        <div id="readMode">
          <div ng-hide="read" class="interactive readMode" ng-click="readmode()" data-toggle="tooltip" title="Déployer le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-left"></span></div>
	      <div ng-show="read" class="interactive readMode" ng-click="viewmode()" data-toggle="tooltip" title="Replier le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-right"></div>
        </div>

        <h4 id="text-title">Sélectionner un amendement</h4>
        <div id="load_amd"></div>
        <div class="text-container"></div>
        <div class="grad-white"></div>
      </div>

    </div>

  </div>
</div>
<script type="text/javascript" src="js/modules/mod2.js"></script>
