<div id="stepsbar">

    <div class="stb-stages">
        <div class="stb-stage" style="width:{{(i.num/total)*100}}%"ng-repeat="i in stages">
            <span ng-show="i.num==1 || (i.name == CMP ? 2 : 1) * total < 7*i.num" title="{{cleanLongName(findLongName(i.name))}}" ng-bind-html-unsafe="findShortName(i.name)"></span>
            <span ng-hide="i.num==1 || (i.name == CMP ? 2 : 1) * total < 7*i.num" ng-bind-html-unsafe="findLongName(i.name)"></span>
        </div>
    </div>

    <div class="stb-insts">
        <div class="stb-inst {{string_to_slug(i.name)}}" style="width:{{(i.num/total)*100}}%"ng-repeat="i in inst">
            <span ng-show="i.num==1 || (i.name == CMP ? 2 : 1) * total < 7*i.num" title="{{findLongName(i.name)}}">{{findShortName(i.name)}}</span>
            <span ng-hide="i.num==1 || (i.name == CMP ? 2 : 1) * total < 7*i.num">{{findLongName(i.name)}}</span>
        </div>
    </div>

    <div class="stb-steps">
        <div class="stb-step stb-{{i.directory}}" ng-class="{'current': s === i.directory}" style="width:{{(1/total)*100}}%"ng-repeat="i in steps">

            <div>
                <span>
                    <span ng-show="total>8" title="{{stepLegend(i)}}">{{stepLabel(i)}}</span>
                    <span ng-hide="total>8">{{stepLabel(i)}}</span>
                    <a ng-hide="i.source_url=='renvoi en commission'" class="stb-linkstep glyphicon glyphicon-link" title="Voir la source" href="{{i.source_url}}"></a>
                    <span ng-show="i.source_url=='renvoi en commission'" class="stb-link stb-renvoi glyphicon glyphicon-ban-circle" title="Renvoi en commission"></span>
                </span>
            </div>

            <div class="stb-links">
                <a class="stb-link stb-txt" ng-show="mod!='mod1'" title="Explorer les articles" href="loi?l={{l}}">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
                <span ng-hide="mod!='mod1'" class="stb-link glyphicon glyphicon-list low-vis"></span>

                <a class="stb-link stb-amds" ng-show="i.nb_amendements && (s!=i.directory ||(s==i.directory && mod=='mod2b'))" title="Explorer les amendements" href="amendements?l={{l}}&s={{i.directory}}">
                    <span class="glyphicon glyphicon-folder-open"></span>
                </a>
                <span ng-hide="i.nb_amendements && (s!=i.directory ||(s==i.directory && mod=='mod2b'))" class="stb-link glyphicon glyphicon-folder-open low-vis" ng-class="{'stb-curr-st':s==i.directory && mod=='mod2'}"></span>

                <a class="stb-link stb-ints" ng-show="i.has_interventions && (s!=i.directory ||(s==i.directory && mod=='mod2'))" title="Explorer les débats" href="debats?l={{l}}&s={{i.directory}}">
                    <span class="glyphicon glyphicon-comment"></span>
                </a>
                <span ng-hide="i.has_interventions && (s!=i.directory ||(s==i.directory && mod=='mod2'))" class="stb-link glyphicon glyphicon-comment low-vis" ng-class="{'stb-curr-st':s==i.directory && mod=='mod2b'}"></span>
            </div>

        </div>
    </div>

</div>
