<nav ng-cloak role="navigation">
  <a class="button nav-item" ng-href="articles.html?loi={{loi}}">&lt; Voir les articles du texte</a>

  <span class="nav-item dropdown" id="menu-display">
    <span ng-cloak class="dropdown-toggle" data-toggle="dropdown">
      Vue {{ groupAll ? 'groupée' : 'par articles' }}
      <b class="caret"></b>
    </span>
    <ul class="dropdown-menu" role="menu" id="display_menu">
      <li><a class="{{ groupAll ? '' : 'chosen' }}" ng-click="groupAll = false">par articles</a></li>
      <li><a class="{{ groupAll ? 'chosen' : '' }}" ng-click="groupAll = true">groupée</a></li>
    </ul>
  </span>
  <span class="nav-item dropdown" id="menu-order">
    <span ng-cloak class="dropdown-toggle" data-toggle="dropdown">
      Trié par {{ sortOrder === 'sort' ? 'sort final' : (sortOrder === 'groupe' ? 'groupe politique' : 'numéro') }}
      <b class="caret"></b>
    </span>
    <ul class="dropdown-menu" role="menu">
      <li><a class="{{ sortOrder === 'sort' ? 'chosen' : '' }}" ng-click="sortOrder = 'sort'">sort final</a></li>
      <li><a class="{{ sortOrder === 'groupe' ? 'chosen' : '' }}" ng-click="sortOrder = 'groupe'">groupe politique</a></li>
      <li><a class="{{ sortOrder === 'numero' ? 'chosen' : '' }}" ng-click="sortOrder = 'numero'">numéro</a></li>
    </ul>
  </span>

  <span class="spacer"></span>

  <tutorial mod="amendements"></tutorial>
</nav>

<div id="display">
  <div id="stepsbar" stepsbar></div>

  <div id="viz" ng-cloak ng-click="focusSubject($event)"
    class="
      has-legend
      {{ article ? 's-focus-mode' : '' }}
      {{ focusGroupe || focusSort ? 'a-focus-mode' : '' }}
      {{ twoColumnMode ? 'colonnes' : '' }}
      sort-by-{{ sortOrder }}
    ">
    <div id="sujets">
      <div class="sujet {{ article === sujet.article ? 'focus' : '' }}"
        ng-model-options="{ debounce: 100 }"
        ng-repeat="sujet in data.sujets track by sujet.article" data-article="{{ ::sujet.article }}">
        <div class="titre">
          <span class="titre-link" ng-click="focusSubject($event, sujet.article)">{{ ::sujet.titre }}</span>
        </div>
        <div class="liste-amendements" style="height: {{ sujet.height }}px; width: {{ subjectWidth }}px;">
          <div
            class="
              amendement
              amendement-{{ ::amdt.id_api }}
              amendement-num-{{ ::amdt.numero }}
              {{ focusGroupe && amdt.groupe === focusGroupe ? 'focus' : '' }}
              {{ focusSort && amdt.sort === focusSort ? 'focus' : '' }}
            "
            style="
              visibility: {{ amdt.empty ? 'hidden' : 'visible' }};
              background-color: {{ ::amdt.color }};
              background-image: url({{ amdt.sort_image }});
            "
            ng-click="amdt.empty || selectAmdt(amdt)"
            ng-mouseenter="amdt.empty || showTooltip($parent.$index, $index)"
            ng-mouseleave="amdt.empty || hideTooltip()"
            ng-repeat="amdt in sujet.amendements_snake track by amdt.id_api">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="preload"></div>

  <div id="amendement-tooltip" ng-cloak>
    <div class="numero">Amendement {{ hoverAmendement.numero }}</div>
    <div class="groupe">
      <span ng-if="amdt.aut">{{ hoverAmendement.aut }}<br/></span>
      {{ hoverAmendement.nom_groupe }}
    </div>
    <div class="sort">Sort: {{ hoverAmendement.sort }}</div>
    <div class="date">{{ formatDate(hoverAmendement.date) }}</div>
    <div class="arrow"></div>
  </div>

  <div id="legend" ng-cloak class="{{ focusGroupe || focusSort ? 'a-focus-mode' : '' }}" ng-click="focusAmendements($event)">
    LÉGENDE
    <div class="colors">
      <div class="leg-item {{ focusGroupe === key ? '' : 'faded' }}"
        ng-repeat="(key, groupe) in data.legende.groupes" ng-click="focusAmendements($event, key)">
        <div class="leg-value" style="background-color: {{ ::groupe.cssColor }};"></div>
        <div class="leg-key">{{ ::key }}</div>
        <div class="leg-tooltip">{{ ::groupe.nom }}</div>
      </div>
    </div>
    <div class="others">
      <div class="leg-item {{ focusGroupe === 'Gouvernement' ? '' : 'faded' }}"
        ng-if="data.groupes.Gouvernement"
        ng-click="focusAmendements($event, 'Gouvernement')">
        <div class="leg-value" style="background-color: {{ ::data.groupes.Gouvernement.cssColor }};"></div>
        <div class="leg-key">Gouvernement</div>
      </div>
      <div class="leg-item" ng-if="data.groupes.Gouvernement">
        <div class="leg-value"></div>
        <div class="leg-key">&nbsp;</div>
      </div>
      <div class="leg-item {{ focusSort === sortid ? '' : 'faded' }}"
        ng-repeat="(sortid, sort) in data.legende.sorts" ng-click="focusAmendements($event, null, sortid)">
        <div class="leg-value leg-sort" style="background-image: url({{ ::sort.img }});"></div>
        <div class="leg-key">{{ ::sort.name }}</div>
      </div>
    </div>
  </div>

  <div ng-cloak id="sidebar">
    <div id="readMode" style="display:initial;" ng-if="selectedAmdt">
      <div ng-hide="read" class="interactive readMode" ng-click="readmode()" data-toggle="tooltip" title="Déployer le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-left"></span></div>
      <div ng-show="read" class="interactive readMode" ng-click="viewmode()" data-toggle="tooltip" title="Replier le panneau" data-placement="bottom" data-original-title="Déployer le panneau"><span class="glyphicon glyphicon-chevron-right"></div>
    </div>
    <h4 id="text-title">
      {{ selectedAmdt ? 'Amendement ' + selectedAmdt.numero : 'AMENDEMENTS' }}
    </h4>
    <div id="load_amd"></div>
    <div class="text-container {{ loadingAmdt ? 'loading' : '' }}">
      <div ng-cloak ng-if="!selectedAmdtData && !selectedAmdtError" ng-bind-html="trustedHelpText"></div>
      <div ng-cloak ng-if="selectedAmdtError" class="error" >
        <h5>Oups ! Il semble que vous soyez tombé sur un bug</h5>
        Erreur : {{ selectedAmdtError }}. N'hésitez pas à
        <a href="//github.com/regardscitoyens/the-law-factory/issues" target="_blank">nous le signaler</a> !
      </div>
      <div ng-cloak ng-if="selectedAmdtData" class="amd-flex">
        <span class="amd-nav">
          <a href="#" ng-click="triggerKeyDown(33)"><span class="glyphicon glyphicon-chevron-left"></span> amendement précédent</a>
          <a href="#" ng-click="triggerKeyDown(34)">amendement suivant <span class="glyphicon glyphicon-chevron-right"></span></a>
        </span>
        <span class="amd-status">
          <span class="amd-date">{{ formatDate(selectedAmdt.date) }}</span>
          <span class="amd-sort">
            {{ selectedAmdtData.sort }}
            <span class="amd-txt-status" style="background-color:{{ selectedAmdt.color }}">
              <img style="visibility: {{ selectedAmdt.sort_image === '' ? 'hidden' : 'visible'}}; margin:0; padding:4px; width:18px;" ng-src="{{ selectedAmdt.sort_image }}" />
            </span>
          </span>
        </span>
        <div class="amd-subject">
          <b>Sujet :</b>
          <span>{{ selectedAmdtData.sujet }}</span>
        </div>
        <div class="amd-signataires {{ amdtExpanded === 'signataires' ? 'expanded' : '' }}" ng-click="setExpanded('signataires')">
          <b>Signataires :</b>
          <div class="amd-text-content">{{ selectedAmdtData.signataires }}</div>
          <div class="amd-fade"></div>
        </div>
        <div class="amd-motifs {{ amdtExpanded === 'motifs' ? 'expanded' : '' }}" ng-click="setExpanded('motifs')">
          <b>Exposé des motifs :</b>
          <div class="amd-text-content" ng-bind-html="selectedAmdtData.trustedExpose"></div>
          <div class="amd-fade"></div>
        </div>
        <div class="amd-text {{ amdtExpanded === 'text' ? 'expanded' : '' }}" ng-click="setExpanded('text')">
          <b>Texte :</b>
          <div class="amd-text-content" ng-bind-html="selectedAmdtData.trustedTexte"></div>
          <div class="amd-fade"></div>
        </div>
        <p class="sources amd-sources">
          <small>
            <a target="_blank" href="{{ selectedAmdtData.url }}"><span class="glyphicon glyphicon-link"></span>
              {{ selectedAmdtData.origine === 'an' ? 'NosDéputés' : 'NosSénateurs' }}.fr</a> &nbsp; &nbsp;
            <a target="_blank" href="{{ selectedAmdtData.source }}"><span class="glyphicon glyphicon-link"></span>
              {{ selectedAmdtData.origine === 'an' ? 'Assemblée Nationale' : 'Sénat' }}</a> &nbsp; &nbsp;
            <a href="{{ selectedAmdtData.tlfurl }}"><span class="glyphicon glyphicon-link"></span>
              Permalien</a>
          </small>
        </p>
      </div>
    </div>
  </div>

</div>

<div id="probe"><div id="inside"></div></div>
<script type="text/javascript" src="modules/amendements/amendements.viz.js"></script>
